# Importing the Packages

In [2]:
import pandas as pd
import numpy as np

# Importing the data

In [3]:
data = pd.read_csv("C:\\Users\\Lenovo\\OneDrive\\01_Education\\02_AUB\\02_Spring2024\\MSBA305-Data Processing Frameworks\\Project\\Data\\Updated3_FinalData305.csv")

In [4]:
# Get unique values of 'Casa' column
casa_values = data['Casa'].unique()

# Print the unique values
for casa in casa_values:
    print(casa)

Mount Lebanon
Bekaa
South
Beirut
North

In [5]:
data.head()

,Date,Casa,Region,Brand,Family,Item Code,Description,Tot Qty,Unit Price,Total Price,Payment Terms,Return Rate,Product Class,Discount,Customer ID,Order ID,Phone Number,Customer Loyalty Indicator
0,9/19/2020,Mount Lebanon,North Metn,Westpoint,Wine cooler,W045,Cooler,1.0,712.500000,712.500000,Net 60,no,Appliances,NaN,Cust043,1,81618291,New
1,7/12/2018,Bekaa,Baalabeck,Kelvinator,Multi Door,KT23,3 doors Refrigerator no Frost Stainless steel,1.0,2158.772981,2158.772981,Net 30,no,Appliances,NaN,Cust024,2,71107991,New
2,7/4/2018,Bekaa,Zahle,Kelvinator,Multi Door,KT23,3 doors Refrigerator no Frost Stainless steel,1.0,1818.000000,1818.000000,Net 30,no,Appliances,NaN,Cust016,3,3488238,New
3,3/23/2019,Bekaa,Zahle,Kelvinator,Multi Door,KT23,3 doors Refrigerator no Frost Stainless steel,1.0,1818.000000,1818.000000,Net 30,no,Appliances,NaN,Cust019,4,80612810,New
4,1/17/2018,Mount Lebanon,Chouf,Kelvinator,Multi Door,KT23,3 doors Refrigerator no Frost Stainless steel,1.0,1544.550000,1544.550000,Cash on Delivery,no,Appliances,NaN,Cust058,5,71200417,New

# Renaming the Dataset Columns

In [6]:
# Assuming `data` is your DataFrame
column_names = list(data.columns)

print(column_names)

['Date', 'Casa', 'Region', 'Brand', 'Family', 'Item Code', 'Description', 'Tot Qty', 'Unit Price', 'Total Price', 'Payment Terms', 'Return Rate', 'Product Class', 'Discount', 'Customer ID', 'Order ID', 'Phone Number', 'Customer Loyalty Indicator']

In [7]:
transformed_column_names = []
for name in column_names:
    # Capitalize the first letter, convert the rest to lowercase, and replace spaces with underscores
    transformed_name = name.strip().replace(' ', '_').lower().capitalize()
    transformed_column_names.append(transformed_name)

print(transformed_column_names)

['Date', 'Casa', 'Region', 'Brand', 'Family', 'Item_code', 'Description', 'Tot_qty', 'Unit_price', 'Total_price', 'Payment_terms', 'Return_rate', 'Product_class', 'Discount', 'Customer_id', 'Order_id', 'Phone_number', 'Customer_loyalty_indicator']

In [8]:
# Assuming data is your DataFrame and transformed_column_names contains the new column names
# Create a dictionary mapping old column names to new column names
column_mapping = {old_name: new_name for old_name, new_name in zip(data.columns, transformed_column_names)}

# Rename the columns of the DataFrame using the mapping
data.rename(columns=column_mapping, inplace=True)

In [9]:
import pandas as pd

# Assuming `data` is your DataFrame
column_names = list(data.columns)

# Common Preprocessing for the Entire Dataset

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31278 entries, 0 to 31277
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        31278 non-null  object
 1   Casa                        31278 non-null  object
 2   Region                      31278 non-null  object
 3   Brand                       31278 non-null  object
 4   Family                      31278 non-null  object
 5   Item_code                   31278 non-null  object
 6   Description                 31278 non-null  object
 7   Tot_qty                     31276 non-null  float64
 8   Unit_price                  31278 non-null  float64
 9   Total_price                 31278 non-null  float64
 10  Payment_terms               29715 non-null  object
 11  Return_rate                 31278 non-null  object
 12  Product_class               31278 non-null  object
 13  Discount                    10616 non-null  float64
 14  Customer_id                 31278 non-null  object
 15  Order_id                    31278 non-null  int64
 16  Phone_number                31278 non-null  int64
 17  Customer_loyalty_indicator  31278 non-null  object
dtypes: float64(4), int64(2), object(12)
memory usage: 4.3+ MB

## Missing Values

In [11]:
#Missing values
# Calculate the percentage of missing values in each column
missing_percentage = (data.isna().sum() / len(data)) * 100

# Print the percentage of missing values in each column
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
Date                           0.000000
Casa                           0.000000
Region                         0.000000
Brand                          0.000000
Family                         0.000000
Item_code                      0.000000
Description                    0.000000
Tot_qty                        0.006394
Unit_price                     0.000000
Total_price                    0.000000
Payment_terms                  4.997123
Return_rate                    0.000000
Product_class                  0.000000
Discount                      66.059211
Customer_id                    0.000000
Order_id                       0.000000
Phone_number                   0.000000
Customer_loyalty_indicator     0.000000
dtype: float64

In [12]:
# Identify numerical and categorical columns
numerical_columns = data.select_dtypes(include=['number']).columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Replace missing values in numerical columns with mean, except for "Discount" column
for col in numerical_columns:
    if col == "Discount":
        # Replace missing values in "Discount" column with 0
        data[col].fillna(0, inplace=True)
    else:
        # Replace missing values in other numerical columns with mean
        data[col].fillna(data[col].mean(), inplace=True)

# Replace missing values in categorical columns with mode
for col in categorical_columns:
    data[col].fillna(data[col].mode()[0], inplace=True)

# Confirm that missing values have been filled
print("Missing values filled.")

Missing values filled.

## Column Data Type

In [13]:
# Convert "Date" column to datetime type
data['Date'] = pd.to_datetime(data['Date'])
data['Discount'] = data['Discount'].astype(float)

# Confirm the change
print("Data type of 'Date' column after conversion:", data['Date'].dtype)
print("Data type of 'Discount' column after conversion:", data['Discount'].dtype)

Data type of 'Date' column after conversion: datetime64[ns]
Data type of 'Discount' column after conversion: float64

## String Manipulation - Categorical Columns

In [14]:
# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Remove "Family" column from the list of categorical columns
if 'Family' in categorical_columns:
    categorical_columns = categorical_columns.drop('Family')

# Loop through each remaining categorical column and apply transformations
for col in categorical_columns:
    # Convert to lowercase and strip whitespace
    data[col] = data[col].str.lower().str.strip()
    
# Confirm the changes
print("Categorical columns transformed.")

Categorical columns transformed.

## Outliers and illogical values - Numerical Columns

In [15]:
data.head()

,Date,Casa,Region,Brand,Family,Item_code,Description,Tot_qty,Unit_price,Total_price,Payment_terms,Return_rate,Product_class,Discount,Customer_id,Order_id,Phone_number,Customer_loyalty_indicator
0,2020-09-19,mount lebanon,north metn,westpoint,Wine cooler,w045,cooler,1.0,712.500000,712.500000,net 60,no,appliances,0.0,cust043,1,81618291,new
1,2018-07-12,bekaa,baalabeck,kelvinator,Multi Door,kt23,3 doors refrigerator no frost stainless steel,1.0,2158.772981,2158.772981,net 30,no,appliances,0.0,cust024,2,71107991,new
2,2018-07-04,bekaa,zahle,kelvinator,Multi Door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust016,3,3488238,new
3,2019-03-23,bekaa,zahle,kelvinator,Multi Door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust019,4,80612810,new
4,2018-01-17,mount lebanon,chouf,kelvinator,Multi Door,kt23,3 doors refrigerator no frost stainless steel,1.0,1544.550000,1544.550000,cash on delivery,no,appliances,0.0,cust058,5,71200417,new

### Removing Retuned Orders

In [16]:
# Remove rows where "Tot Qty" is negative
data = data[data['Tot_qty'] > 0]
data = data[data['Unit_price'] > 0]
data = data[data['Total_price'] > 0]

### Normalizing the description Column

In [17]:
import pandas as pd
import re

# Assuming your DataFrame is named 'data'

# Remove punctuation, trim white spaces, and convert to lowercase
data['Description'] = data['Description'].apply(lambda x: re.sub(r'[^\w\s]', '', x).strip().lower())

# Creating the Different Tables

In [18]:
# Process the categories for the DataFrame
data['Family'] = data['Family'].str.strip().str.lower()
data['Item_code'] = data['Item_code'].str.strip()

In [19]:
# Get unique categories from the column
categories_list = data['Family'].unique().tolist()
print(categories_list)


# Process the categories as specified
processed_categories = [category.strip().lower().replace(' ', '_').replace('/', '') for category in categories_list]

print(processed_categories)

['wine cooler', 'multi door', 'a/c', 'refrigerator', 'cooker', 'dap', 'dishwasher', 'dispenser', 'dryer', 'dvd', 'electric oven', 'freezer', 'hob', 'hood', 'humidor', 'laundry', 'led', 'microwave', 'oven', 'sound bar', 'table top', 'top load', 'twin tub', 'vacuum']
['wine_cooler', 'multi_door', 'ac', 'refrigerator', 'cooker', 'dap', 'dishwasher', 'dispenser', 'dryer', 'dvd', 'electric_oven', 'freezer', 'hob', 'hood', 'humidor', 'laundry', 'led', 'microwave', 'oven', 'sound_bar', 'table_top', 'top_load', 'twin_tub', 'vacuum']

In [20]:
print(len(processed_categories))
print(len(categories_list))

24
24

In [21]:
# Loop through both lists simultaneously
for processed_category, category in zip(processed_categories, categories_list):
    # Filter the DataFrame based on the current category
    globals()[processed_category] = data[data['Family']== category.strip().lower()]

# Now you can access the filtered DataFrames directly using the variable names
for processed_category in processed_categories:
    print(f"DataFrame '{processed_category}':")
    print(globals()[processed_category])

DataFrame 'wine_cooler':
            Date           Casa       Region      Brand       Family  \
0     2020-09-19  mount lebanon   north metn  westpoint  wine cooler
27963 2018-06-12         beirut  east beirut  westpoint  wine cooler
27964 2019-01-26         beirut  east beirut  westpoint  wine cooler
27965 2019-12-20         beirut  east beirut  westpoint  wine cooler
27966 2018-04-13  mount lebanon   north metn  westpoint  wine cooler
27967 2018-10-17  mount lebanon   north metn  westpoint  wine cooler
27968 2018-10-07  mount lebanon   north metn  westpoint  wine cooler
31224 2019-03-31         beirut  east beirut    siemens  wine cooler
31225 2019-02-07         beirut  east beirut    siemens  wine cooler
31226 2019-08-13         beirut  west beirut  westpoint  wine cooler
31227 2019-01-18         beirut  west beirut    siemens  wine cooler
31228 2018-09-26          bekaa        zahle    siemens  wine cooler
31229 2018-07-27          bekaa        zahle    siemens  wine cooler
31230 2019-05-18          bekaa        zahle    siemens  wine cooler
31231 2019-08-31          bekaa        zahle    siemens  wine cooler
31232 2019-11-01          bekaa        zahle    siemens  wine cooler
31233 2018-07-27          bekaa        zahle    siemens  wine cooler
31234 2018-11-04  mount lebanon        jbeil    siemens  wine cooler
31235 2019-02-17  mount lebanon     keserwan    siemens  wine cooler
31236 2019-07-25  mount lebanon     keserwan    siemens  wine cooler
31237 2020-06-21  mount lebanon     keserwan  westpoint  wine cooler
31238 2019-03-24  mount lebanon     keserwan    siemens  wine cooler
31239 2019-11-12  mount lebanon     keserwan    siemens  wine cooler
31241 2019-04-23  mount lebanon     keserwan  westpoint  wine cooler
31242 2018-12-21  mount lebanon   north metn  westpoint  wine cooler
31243 2020-06-08  mount lebanon   north metn  westpoint  wine cooler
31244 2018-12-21  mount lebanon   north metn  westpoint  wine cooler
31245 2020-06-08  mount lebanon   north metn  westpoint  wine cooler
31246 2018-12-21  mount lebanon   north metn  westpoint  wine cooler
31247 2020-06-08  mount lebanon   north metn  westpoint  wine cooler
31248 2019-05-31  mount lebanon   north metn    siemens  wine cooler
31249 2019-11-13  mount lebanon   north metn    siemens  wine cooler
31250 2019-05-31  mount lebanon   north metn    siemens  wine cooler
31251 2020-09-19  mount lebanon   north metn  westpoint  wine cooler
31252 2020-09-19  mount lebanon   north metn  westpoint  wine cooler
31253 2020-02-08  mount lebanon   north metn  westpoint  wine cooler
31254 2020-11-30  mount lebanon   north metn  westpoint  wine cooler
31257 2019-05-14  mount lebanon   north metn    siemens  wine cooler
31260 2019-05-14  mount lebanon   north metn    siemens  wine cooler
31261 2019-07-17  mount lebanon   north metn    siemens  wine cooler
31263 2019-06-29  mount lebanon   north metn    siemens  wine cooler
31264 2019-12-21  mount lebanon   north metn    siemens  wine cooler
31265 2020-03-16  mount lebanon   north metn    siemens  wine cooler
31267 2019-06-29  mount lebanon   north metn    siemens  wine cooler
31268 2019-06-07  mount lebanon   north metn  westpoint  wine cooler
31269 2018-10-14  mount lebanon   south metn    siemens  wine cooler
31270 2019-06-20  mount lebanon   south metn    siemens  wine cooler
31271 2019-07-19  mount lebanon   south metn    siemens  wine cooler
31272 2019-09-29  mount lebanon   south metn    siemens  wine cooler
31273 2019-10-10  mount lebanon   south metn    siemens  wine cooler
31274 2019-09-29  mount lebanon   south metn    siemens  wine cooler
31275 2019-05-04  mount lebanon   south metn  westpoint  wine cooler
31276 2019-05-05  mount lebanon   south metn  westpoint  wine cooler
31277 2018-08-14          north      tripoli    siemens  wine cooler

      Item_code              Description  Tot_qty   Unit_price   Total_price  \
0          w045                   cooler      1.0   712.500000    712.500000
27963      w045                   cooler      4.0   681.820000   2727.280000
27964      w045                   cooler      1.0   681.820000    681.820000
27965      w045                   cooler      1.0   750.000000    750.000000
27966      w045                   cooler      1.0   545.450000    545.450000
27967      w045                   cooler      1.0   454.550000    454.550000
27968      w045                   cooler      1.0   600.000000    600.000000
31224      cx20   wine cooler 40 bottles      1.0   387.380000    387.380000
31225      cx14   wine cooler 70 bottles      1.0   510.000000    510.000000
31226      w106   wine cellar106 bottles      1.0  1098.000000   1098.000000
31227      cx14   wine cooler 70 bottles      1.0   558.560000    558.560000
31228      cx20   wine cooler 40 bottles      1.0   363.640000    363.640000
31229      cx14   wine cooler 70 bottles      3.0   450.000000   1350.000000
31230      cx14   wine cooler 70 bottles      1.0   465.120000    465.120000
31231      cx14   wine cooler 70 bottles      1.0   465.120000    465.120000
31232      cx14   wine cooler 70 bottles      2.0   465.120000    930.240000
31233      cx20   wine cooler 40 bottles      2.0   338.000000    676.000000
31234      cx20   wine cooler 40 bottles      1.0   344.550000    344.550000
31235      cx20   wine cooler 40 bottles      3.0   270.270000    810.810000
31236      cx20   wine cooler 40 bottles      3.0   270.270000    810.810000
31237      w106   wine cellar106 bottles      2.0  1007.500000   2015.000000
31238      cx14   wine cooler 70 bottles      1.0   486.480000    486.480000
31239      cx14   wine cooler 70 bottles      1.0   484.680000    484.680000
31241      w185  wine cooler 191 bottles      1.0  1353.750000   1353.750000
31242      w106   wine cellar106 bottles      2.0   969.000000   1938.000000
31243      w106   wine cellar106 bottles      2.0  1049.155874   2098.311748
31244      w106   wine cellar106 bottles      2.0   969.000000   1938.000000
31245      w106   wine cellar106 bottles      2.0  1049.155874   2098.311748
31246      w185  wine cooler 191 bottles      2.0  1292.000000   2584.000000
31247      w185  wine cooler 191 bottles      2.0  1387.593252   2775.186505
31248      cx14   wine cooler 70 bottles      3.0   484.500125   1453.500376
31249      cx14   wine cooler 70 bottles     10.0   484.500000   4845.000000
31250      cx20   wine cooler 40 bottles      3.0   352.687591   1058.062774
31251      w106   wine cellar106 bottles      1.0  1104.375000   1104.375000
31252      w185  wine cooler 191 bottles      1.0  1460.625000   1460.625000
31253      w185  wine cooler 191 bottles      1.0  1353.750000   1353.750000
31254      w185  wine cooler 191 bottles      1.0  1400.000000   1400.000000
31257      cx14   wine cooler 70 bottles      2.0   484.499815    968.999631
31260      cx20   wine cooler 40 bottles      2.0   352.687366    705.374731
31261      cx20   wine cooler 40 bottles      1.0   352.690000    352.690000
31263      cx14   wine cooler 70 bottles     25.0   465.120000  11628.000000
31264      cx14   wine cooler 70 bottles     33.0   465.120000  15348.960000
31265      cx14   wine cooler 70 bottles     25.0   465.120000  11628.000000
31267      cx20   wine cooler 40 bottles     29.0   338.580000   9818.820000
31268      w106   wine cellar106 bottles      1.0  1068.750000   1068.750000
31269      cx20   wine cooler 40 bottles      1.0   344.850000    344.850000
31270      cx14   wine cooler 70 bottles      1.0   405.410000    405.410000
31271      cx14   wine cooler 70 bottles      3.0   405.410000   1216.230000
31272      cx14   wine cooler 70 bottles      1.0   405.410000    405.410000
31273      cx14   wine cooler 70 bottles      1.0   405.410000    405.410000
31274      cx20   wine cooler 40 bottles      1.0   315.320000    315.320000
31275      w185  wine cooler 191 bottles      1.0  1486.480000   1486.480000
31276      w185  wine cooler 191 bottles      1.0  1486.480000   1486.480000
31277      cx20   wine cooler 40 bottles      1.0   356.000000    356.000000

          Payment_terms Return_rate Product_class  Discount Customer_id  \
0                net 60          no    appliances       0.0     cust043
27963            net 60          no    appliances       0.0     cust030
27964            net 60          no    appliances       0.0     cust029
27965  cash on delivery          no    appliances       0.0     cust033
27966            net 60          no    appliances       0.0     cust042
27967  cash on delivery          no    appliances       0.0     cust044
27968            net 30          no    appliances       0.0     cust042
31224            net 60          no    appliances       0.0     cust027
31225            net 30          no    appliances       0.0     cust032
31226            net 30          no    appliances       0.0     cust040
31227  cash on delivery          no    appliances       0.0     cust040
31228            net 30          no    appliances       0.0     cust018
31229            net 60          no    appliances       0.0     cust016
31230            net 30          no    appliances       0.0     cust019
31231            net 60          no    appliances       0.0     cust019
31232            net 60          no    appliances       0.0     cust017
31233  cash on delivery          no    appliances       0.0     cust017
31234            net 30          no    appliances       0.0     cust056
31235            net 30          no    appliances       0.0     cust049
31236            net 60          no    appliances       0.0     cust049
31237            net 30          no    appliances       0.0     cust049
31238            net 30          no    appliances       0.0     cust053
31239            net 30          no    appliances       0.0     cust052
31241            net 30          no    appliances       0.0     cust050
31242            net 60          no    appliances       0.0     cust042
31243            net 60          no    appliances       0.0     cust044
31244            net 30          no    appliances       0.0     cust042
31245  cash on delivery          no    appliances       0.0     cust042
31246            net 60          no    appliances       0.0     cust043
31247            net 30          no    appliances       0.0     cust041
31248  cash on delivery          no    appliances       0.0     cust042
31249            net 60          no    appliances      20.0     cust042
31250  cash on delivery          no    appliances       0.0     cust044
31251            net 30          no    appliances       0.0     cust041
31252  cash on delivery          no    appliances       0.0     cust042
31253  cash on delivery          no    appliances       0.0     cust042
31254            net 60          no    appliances       0.0     cust041
31257            net 60          no    appliances       0.0     cust042
31260            net 30          no    appliances       0.0     cust044
31261            net 60          no    appliances       0.0     cust042
31263            net 30          no    appliances      20.0     cust042
31264            net 60          no    appliances      20.0     cust044
31265  cash on delivery          no    appliances      20.0     cust041
31267            net 60          no    appliances      20.0     cust044
31268  cash on delivery          no    appliances       0.0     cust042
31269            net 30          no    appliances       0.0     cust048
31270  cash on delivery          no    appliances       0.0     cust045
31271  cash on delivery          no    appliances       0.0     cust045
31272            net 60          no    appliances       0.0     cust047
31273  cash on delivery          no    appliances       0.0     cust048
31274            net 60          no    appliances       0.0     cust046
31275  cash on delivery          no    appliances       0.0     cust046
31276            net 60          no    appliances       0.0     cust046
31277            net 60          no    appliances       0.0     cust001

       Order_id  Phone_number Customer_loyalty_indicator
0             1      81618291                        new
27963     27964      80854963                        new
27964     27965      81375071                        new
27965     27966      81462027                        new
27966     27967      71314305                        new
27967     27968      81826676                        new
27968     27969      71314305                        new
31224     31225      80032754                        new
31225     31226      70691949                        new
31226     31227      80247324                        new
31227     31228      80247324                        new
31228     31229       3616123                        new
31229     31230       3488238                        new
31230     31231      80612810                        new
31231     31232      80612810                        new
31232     31233      70105418                        new
31233     31234      70105418                        new
31234     31235      70445814                        new
31235     31236       3630909                        new
31236     31237       3630909                        new
31237     31238       3630909                        new
31238     31239      80042927                        new
31239     31240      81055819                        new
31241     31242      80946355                        new
31242     31243      71314305                        new
31243     31244      81826676                        new
31244     31245      71314305                        new
31245     31246      71314305                        new
31246     31247      81618291                        new
31247     31248      70494520                        new
31248     31249      71314305                        new
31249     31250      71314305                        new
31250     31251      81826676                        new
31251     31252      70494520                        new
31252     31253      71314305                        new
31253     31254      71314305                        new
31254     31255      70494520                        new
31257     31258      71314305                        new
31260     31261      81826676                        new
31261     31262      71314305                        new
31263     31264      71314305                        new
31264     31265      81826676                        new
31265     31266      70494520                        new
31267     31268      81826676                        new
31268     31269      71314305                        new
31269     31270      80815855                        new
31270     31271      71138169                        new
31271     31272      71138169                        new
31272     31273      81509745                        new
31273     31274      80815855                        new
31274     31275      81873615                        new
31275     31276      81873615                        new
31276     31277      81873615                        new
31277     31278       3970279                        new
DataFrame 'multi_door':
           Date           Casa       Region       Brand      Family Item_code  \
1    2018-07-12          bekaa    baalabeck  kelvinator  multi door      kt23
2    2018-07-04          bekaa        zahle  kelvinator  multi door      kt23
3    2019-03-23          bekaa        zahle  kelvinator  multi door      kt23
4    2018-01-17  mount lebanon        chouf  kelvinator  multi door      kt23
5    2018-01-18  mount lebanon     keserwan  kelvinator  multi door      kt23
...         ...            ...          ...         ...         ...       ...
1205 2018-02-20         beirut  west beirut  kelvinator  multi door      kb22
1206 2018-02-23         beirut  west beirut  kelvinator  multi door      kb22
1207 2018-06-10         beirut  west beirut  kelvinator  multi door      kb22
1209 2018-03-16  mount lebanon        jbeil  kelvinator  multi door      kb22
1210 2018-06-10          north      zgharta  kelvinator  multi door      kb22

                                        Description  Tot_qty   Unit_price  \
1     3 doors refrigerator no frost stainless steel      1.0  2158.772981
2     3 doors refrigerator no frost stainless steel      1.0  1818.000000
3     3 doors refrigerator no frost stainless steel      1.0  1818.000000
4     3 doors refrigerator no frost stainless steel      1.0  1544.550000
5     3 doors refrigerator no frost stainless steel      1.0  1545.450000
...                                             ...      ...          ...
1205                    22 cft  bottom mount fridge      1.0  1980.000000
1206                    22 cft  bottom mount fridge      3.0  1753.000000
1207                    22 cft  bottom mount fridge      1.0  1880.910000
1209                    22 cft  bottom mount fridge      1.0  1692.000000
1210                    22 cft  bottom mount fridge      1.0  1554.543000

      Total_price     Payment_terms Return_rate Product_class  Discount  \
1     2158.772981            net 30          no    appliances       0.0
2     1818.000000            net 30          no    appliances       0.0
3     1818.000000            net 30          no    appliances       0.0
4     1544.550000  cash on delivery          no    appliances       0.0
5     1545.450000            net 30          no    appliances       0.0
...           ...               ...         ...           ...       ...
1205  1980.000000  cash on delivery          no    appliances       0.0
1206  5259.000000  cash on delivery          no    appliances       0.0
1207  1880.910000            net 30          no    appliances       0.0
1209  1692.000000            net 30          no    appliances       0.0
1210  1554.543000  cash on delivery          no    appliances       0.0

     Customer_id  Order_id  Phone_number Customer_loyalty_indicator
1        cust024         2      71107991                        new
2        cust016         3       3488238                        new
3        cust019         4      80612810                        new
4        cust058         5      71200417                        new
5        cust053         6      80042927                        new
...          ...       ...           ...                        ...
1205     cust035      1206      80932371                        new
1206     cust038      1207      81187638                        new
1207     cust036      1208      80974372                        new
1209     cust057      1210      71035673                        new
1210     cust003      1211      80034865                        new

[217 rows x 18 columns]
DataFrame 'ac':
           Date    Casa       Region      Brand Family Item_code  \
267  2019-08-09  beirut  east beirut  panasonic    a/c      p001
268  2019-08-09  beirut  east beirut  panasonic    a/c      p002
269  2019-09-25  beirut  east beirut  panasonic    a/c      p002
270  2019-08-09  beirut  east beirut  panasonic    a/c      p003
271  2019-08-09  beirut  east beirut  panasonic    a/c      p004
...         ...     ...          ...        ...    ...       ...
1200 2020-07-22   south   marjeayoun  panasonic    a/c      p002
1201 2020-07-25   south   marjeayoun  panasonic    a/c      p002
1202 2018-05-05   south   marjeayoun  panasonic    a/c      p003
1203 2019-06-07   south   marjeayoun  panasonic    a/c      p003
1204 2018-05-05   south   marjeayoun  panasonic    a/c      p004

            Description  Tot_qty  Unit_price  Total_price     Payment_terms  \
267    ac split 9000btu      2.0      235.60       471.20            net 60
268   ac split 12000btu      1.0      262.20       262.20  cash on delivery
269   ac split 12000btu      1.0      262.20       262.20            net 30
270   ac split 18000btu      1.0      372.40       372.40  cash on delivery
271   ac split 24000btu      1.0      456.00       456.00  cash on delivery

In [22]:
num_dataframes = len(processed_categories)
print("Number of dataframes created:", num_dataframes)

# Iterate over the processed_categories list and print the names
for df_name in processed_categories:
    print("DataFrame name:", df_name)

Number of dataframes created: 24
DataFrame name: wine_cooler
DataFrame name: multi_door
DataFrame name: ac
DataFrame name: refrigerator
DataFrame name: cooker
DataFrame name: dap
DataFrame name: dishwasher
DataFrame name: dispenser
DataFrame name: dryer
DataFrame name: dvd
DataFrame name: electric_oven
DataFrame name: freezer
DataFrame name: hob
DataFrame name: hood
DataFrame name: humidor
DataFrame name: laundry
DataFrame name: led
DataFrame name: microwave
DataFrame name: oven
DataFrame name: sound_bar
DataFrame name: table_top
DataFrame name: top_load
DataFrame name: twin_tub
DataFrame name: vacuum

## Removing Irelevant comlumns across Family tables

In [23]:
# List of columns to remove
columns_to_remove = ['Date', 'Casa', 'Region', 'Family', 'Tot_qty', 
                     'Payment_terms', 'Discount', 'Customer_id', 'Unit_price', 'Total_price' ,
                     'Order_id', 'Phone_number', 'Customer_loyalty_indicator', 'Product_class', 'Brand', 'Return_rate']

# Iterate through each dataframe name and drop the specified columns
for df_name in processed_categories:
    # Access the dataframe object using its name
    df = globals()[df_name]  # or locals()[df_name] if the dataframes are defined locally
    df.drop(columns=columns_to_remove, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4141387096.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_remove, inplace=True)

In [24]:
# Iterate through each dataframe name in the list
for df_name in processed_categories:
    # Access the dataframe object using its name
    df = globals()[df_name]  # or locals()[df_name] if the dataframes are defined locally
    
    # Remove duplicates of 'Item Code' column, keeping the first occurrence
    df.drop_duplicates(subset=['Item_code'], keep='first', inplace=True)
    df.reset_index(drop=True, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2731372786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['Item_code'], keep='first', inplace=True)

## Family

### 'wine_cooler'

In [25]:
import pandas as pd

# Function to extract type and capacity from description
def extract_type_and_capacity(description):
    description = description.lower()  # Convert description to lowercase for case-insensitive matching
    
    if 'cooler' in description:
        # Extract type as 'cooler' and capacity (number of bottles)
        type_str = 'cooler'
        capacity_str = description.split('cooler')[1].strip()  # Extract the part after 'cooler'
    elif 'cellar' in description:
        # Extract type as 'cellar' and capacity (number of bottles)
        type_str = 'cellar'
        capacity_str = description.split('cellar')[1].strip()  # Extract the part after 'cellar'
    else:
        type_str = 'cooler'
        capacity_str = None
    
    # Extract numeric capacity value (without 'bottles')
    if capacity_str:
        capacity_value = ''.join(filter(str.isdigit, capacity_str))  # Keep only digits
    else:
        capacity_value = 70
    
    return type_str, capacity_value

# Apply the function to extract type and capacity from each description
wine_cooler['Type'], wine_cooler['Capacity'] = zip(*wine_cooler['Description'].apply(extract_type_and_capacity))

# Display the updated DataFrame with extracted type and capacity columns
print("Updated DataFrame with Type and Capacity columns:")

Updated DataFrame with Type and Capacity columns:

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4135036254.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_cooler['Type'], wine_cooler['Capacity'] = zip(*wine_cooler['Description'].apply(extract_type_and_capacity))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4135036254.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_cooler['Type'], wine_cooler['Capacity'] = zip(*wine_cooler['Description'].apply(extract_type_and_capacity))

In [26]:
wine_cooler.head()

  Item_code              Description    Type Capacity
0      w045                   cooler  cooler       70
1      cx20   wine cooler 40 bottles  cooler       40
2      cx14   wine cooler 70 bottles  cooler       70
3      w106   wine cellar106 bottles  cellar      106
4      w185  wine cooler 191 bottles  cooler      191

In [27]:
# Replace None values in 'Capacity' column with 45
wine_cooler['Capacity'].fillna(45, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3255014942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_cooler['Capacity'].fillna(45, inplace=True)

In [28]:
# Convert 'Capacity' column to integers
wine_cooler['Capacity'] = pd.to_numeric(wine_cooler['Capacity'], errors='coerce').astype('Int64')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2058979306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_cooler['Capacity'] = pd.to_numeric(wine_cooler['Capacity'], errors='coerce').astype('Int64')

In [29]:
wine_cooler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    5 non-null      object
 1   Description  5 non-null      object
 2   Type         5 non-null      object
 3   Capacity     5 non-null      Int64
dtypes: Int64(1), object(3)
memory usage: 297.0+ bytes

In [30]:
# Drop the 'Description' column
wine_cooler.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\461963653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_cooler.drop(columns=['Description'], inplace=True)

In [31]:
wine_cooler.head()

  Item_code    Type  Capacity
0      w045  cooler        70
1      cx20  cooler        40
2      cx14  cooler        70
3      w106  cellar       106
4      w185  cooler       191

### AC

In [32]:
# Function to extract inverter status and BTU information
def extract_inverter_and_btu(description):
    description = description.lower()  # Convert description to lowercase for case-insensitive matching
    
    # Extract inverter status ('yes' if 'inverter' is in description, otherwise 'no')
    inverter_status = 'yes' if 'inverter' in description else 'no'
    
    # Extract BTU information (numeric part from the description)
    btu_value = ''.join(filter(str.isdigit, description))  # Keep only digits
    
    return inverter_status, btu_value

# Apply the function to extract inverter status and BTU information from each description
ac['Inverter'], ac['BTU'] = zip(*ac['Description'].apply(extract_inverter_and_btu))

# Remove 'BTU' from the 'BTU' column and convert to numeric
ac['BTU'] = ac['BTU'].str.replace('BTU', '').astype(int)

# Display the updated DataFrame with extracted 'Inverter' and 'BTU' columns
print("Updated DataFrame with Inverter and BTU columns:")

Updated DataFrame with Inverter and BTU columns:

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2978824806.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac['Inverter'], ac['BTU'] = zip(*ac['Description'].apply(extract_inverter_and_btu))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2978824806.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac['Inverter'], ac['BTU'] = zip(*ac['Description'].apply(extract_inverter_and_btu))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2978824806.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac['BTU'] = ac['BTU'].str.replace('BTU', '').astype(int)

In [33]:
ac.head()

  Item_code                 Description Inverter    BTU
0      p001            ac split 9000btu       no   9000
1      p002           ac split 12000btu       no  12000
2      p003           ac split 18000btu       no  18000
3      p004           ac split 24000btu       no  24000
4      p006  ac split inverter 12000btu      yes  12000

In [34]:
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    6 non-null      object
 1   Description  6 non-null      object
 2   Inverter     6 non-null      object
 3   BTU          6 non-null      int32
dtypes: int32(1), object(3)
memory usage: 300.0+ bytes

In [35]:
# Drop the 'Description' column
ac.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3726611042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ac.drop(columns=['Description'], inplace=True)

### DVD

In [36]:
# Function to extract HDMI presence information
def extract_hdmi_presence(description):
    description = description.lower()  # Convert description to lowercase for case-insensitive matching
    
    # Check if 'with hdmi' is in the description
    hdmi_presence = 'yes' if 'with hdmi' in description else 'no'
    
    return hdmi_presence

# Apply the function to extract HDMI presence information from each description
dvd['HDMI'] = dvd['Description'].apply(extract_hdmi_presence)

# Display the updated DataFrame with the 'HDMI' column
print("Updated DataFrame with HDMI column:")

Updated DataFrame with HDMI column:

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089541038.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dvd['HDMI'] = dvd['Description'].apply(extract_hdmi_presence)

In [37]:
dvd.head()

  Item_code           Description HDMI
0      pa02  dvd player with hdmi  yes
1      pa01            dvd player   no

In [38]:
# Drop the 'Description' column
dvd.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1735805377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dvd.drop(columns=['Description'], inplace=True)

### SoundBar

In [39]:
sound_bar.head()

  Item_code          Description
0      ps26   sound bar 40 watts
1      ps25   sound bar 80 watts
2      ps27  sound bar 200 watts

In [40]:
# Function to extract amplifier output in Watts
def extract_amplifier_output(description):
    # Use regular expression to find numeric values in the description
    # We use \d+ to match one or more digits
    # The result will be a list of all numeric substrings found in the description
    output_values = re.findall(r'\d+', description)
    
    if output_values:
        # Take the first value as the amplifier output (assumes the first numeric value is the desired one)
        amplifier_output_value = int(output_values[0])  # Convert to integer
    else:
        amplifier_output_value = None
    
    return amplifier_output_value

# Apply the function to extract amplifier output from each description
sound_bar['Amplifier_Output'] = sound_bar['Description'].apply(extract_amplifier_output)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1194870407.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sound_bar['Amplifier_Output'] = sound_bar['Description'].apply(extract_amplifier_output)

In [41]:
sound_bar.head()

  Item_code          Description  Amplifier_Output
0      ps26   sound bar 40 watts                40
1      ps25   sound bar 80 watts                80
2      ps27  sound bar 200 watts               200

In [42]:
sound_bar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_code         3 non-null      object
 1   Description       3 non-null      object
 2   Amplifier_Output  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [43]:
# Drop the 'Description' column
sound_bar.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3387872177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sound_bar.drop(columns=['Description'], inplace=True)

### Humidor

In [44]:
# Function to extract capacity (number of cigars)
def extract_capacity(description):
    # Use regular expression to find numeric values in the description
    # We use \d+ to match one or more digits
    # The result will be a list of all numeric substrings found in the description
    capacity_values = re.findall(r'\d+', description)
    
    if capacity_values:
        # Take the first value as the capacity (assumes the first numeric value is the desired one)
        capacity_value = int(capacity_values[0])  # Convert to integer
    else:
        capacity_value = None
    
    return capacity_value

# Apply the function to extract capacity from each description
humidor['Capacity'] = humidor['Description'].apply(extract_capacity)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\446643719.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  humidor['Capacity'] = humidor['Description'].apply(extract_capacity)

In [45]:
humidor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    2 non-null      object
 1   Description  2 non-null      object
 2   Capacity     2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

In [46]:
# Drop the 'Description' column
humidor.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\367334841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  humidor.drop(columns=['Description'], inplace=True)

### Freezer

In [47]:
freezer.head()

  Item_code                              Description
0      pf11           upright feezer 6 drawers white
1      cf21        freezer no frost 6 drawers silver
2      pf12  upright feezer no frost 7 drawers white
3      cf20         freezer no frost 6 drawers white
4      pf10                        freezer 3 drawers

In [48]:
# Function to extract attributes from description
def extract_freezer_attributes(description):
    description = description.lower()  # Convert description to lowercase for case-insensitive matching
    
    # Initialize attributes to None
    num_drawers = None
    color = None
    no_frost = None
    freezer_type = None
    
    # Extract number of drawers using regex
    num_drawers_match = re.search(r'(\d+)\s*drawers?', description)
    if num_drawers_match:
        num_drawers = int(num_drawers_match.group(1))  # Extract the numeric part
    
    # Extract color (white or silver) using regex
    if 'white' in description:
        color = 'White'
    elif 'silver' in description:
        color = 'Silver'
    
    # Check for 'no frost' indication
    if 'no frost' in description:
        no_frost = 'Yes'
    else:
        no_frost = 'No'
    
    # Determine freezer type (vaccine or regular)
    if 'vaccine' in description:
        freezer_type = 'Vaccine'
    else:
        freezer_type = 'Regular'
    
    return num_drawers, color, no_frost, freezer_type

# Apply the function to extract attributes from each description
freezer['Number_of_Drawers'], freezer['Color'], freezer['No_Frost'], freezer['Freezer_Type'] = \
    zip(*freezer['Description'].apply(extract_freezer_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\749860788.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freezer['Number_of_Drawers'], freezer['Color'], freezer['No_Frost'], freezer['Freezer_Type'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\749860788.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freezer['Number_of_Drawers'], freezer['Color'], freezer['No_Frost'], freezer['Freezer_Type'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\749860788.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freezer['Number_of_Drawers'], freezer['Color'], freezer['No_Frost'], freezer['Freezer_Type'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\749860788.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freezer['Number_of_Drawers'], freezer['Color'], freezer['No_Frost'], freezer['Freezer_Type'] = \

In [49]:
freezer.head()

,Item_code,Description,Number_of_Drawers,Color,No_Frost,Freezer_Type
0,pf11,upright feezer 6 drawers white,6.0,White,No,Regular
1,cf21,freezer no frost 6 drawers silver,6.0,Silver,Yes,Regular
2,pf12,upright feezer no frost 7 drawers white,7.0,White,Yes,Regular
3,cf20,freezer no frost 6 drawers white,6.0,White,Yes,Regular
4,pf10,freezer 3 drawers,3.0,None,No,Regular

In [50]:
freezer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_code          6 non-null      object
 1   Description        6 non-null      object
 2   Number_of_Drawers  5 non-null      float64
 3   Color              4 non-null      object
 4   No_Frost           6 non-null      object
 5   Freezer_Type       6 non-null      object
dtypes: float64(1), object(5)
memory usage: 420.0+ bytes

In [51]:
# Drop the 'Description' column
freezer.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4038541360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freezer.drop(columns=['Description'], inplace=True)

### LED

In [52]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = led['Description'].unique().tolist()

for i in description_categories:
    print(i)

led 32 smart
led 50
led 41fhd
led 65 smart uhd
led 43 fhd smart
led 55 smart uhd
led 32
led 40
led 41inch fhd smart
led 43 fhd
led 52 fhd
led 55fhd
led 41
led 45 smart
led 25
led 50 smart
led 75 smart uhd
led 40 smart
led 29
led 50 smart uhd
led 58 smart uhd
led 43
led 58

In [53]:
# Function to extract attributes from description
def extract_tv_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Initialize attributes to None
    size = None
    smart = None
    resolution = None
    
    # Extract size (in inches) using regex
    size_match = re.search(r'(\d+)', description)
    if size_match:
        size = int(size_match.group(1))  # Extract the numeric part
    
    # Determine if TV is smart
    if 'smart' in description:
        smart = 'Yes'
    else:
        smart = 'No'
    
    # Determine resolution (FHD, UHD, HD)
    if 'uhd' in description:
        resolution = 'UHD'
    elif 'fhd' in description:
        resolution = 'FHD'
    else:
        resolution = 'HD'
    
    return size, smart, resolution

# Apply the function to extract attributes from each description
led['Size'], led['Smart'], led['Resolution'] = \
    zip(*led['Description'].apply(extract_tv_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\465239167.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  led['Size'], led['Smart'], led['Resolution'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\465239167.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  led['Size'], led['Smart'], led['Resolution'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\465239167.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  led['Size'], led['Smart'], led['Resolution'] = \

In [54]:
led.head()

  Item_code       Description  Size Smart Resolution
0   pled32s      led 32 smart    32   Yes         HD
1    pled50            led 50    50    No         HD
2    pled41         led 41fhd    41    No        FHD
3    led65u  led 65 smart uhd    65   Yes        UHD
4   pled43s  led 43 fhd smart    43   Yes        FHD

In [55]:
led.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    29 non-null     object
 1   Description  29 non-null     object
 2   Size         29 non-null     int64
 3   Smart        29 non-null     object
 4   Resolution   29 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.3+ KB

In [56]:
# Drop the 'Description' column
led.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3910123909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  led.drop(columns=['Description'], inplace=True)

### Cooker

In [57]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = cooker['Description'].unique().tolist()

for i in description_categories:
    print(i)

90x60cm cooker professional
cooker 90x60 with bottle compartment  white
cooker 90x60 with bottle compartment  black
cooker 90x60 with bottle compartment  ss
cooker 90x60 wide oven white
cooker 90x60 wide oven ss
cooker 90x60bottle compartment base ss
cooker 90x60wide base white
cooker 90x60 cm bottle compartment white
cooker 90x60 cm bottle compartment stainless steel
cooker 90x60 wide full pro black
cooker 90x60bottle compartment base black
cooker 5555cm white
cooker 5555cm inox
cooker 90x60 wide semi pro red
cooker 90x60 with bottle compartment oven safety  white
cooker 90x60 wide full pro ss
cooker 90x60 wide semi pro ss
cooker 90x60 wide oven full safety white
cooker 90x60 wide oven full safety ss
cooker 60x60 white
cooker 60x60 ss
cooker 90x60bottle compartment base white
cooker 90x60wide base ss
cooker 90x60 with bottle compartment full safety  ss
cooker 5555cm black
cooker 90x60bottle compartment base safety white
cooker 90x60bottle compartment base safety ss
cooker 90x60wide base full white
cooker 90x60cm white
cooker 90x60cm stainless steel
cooker 90x60wide base full ss
cooker 90x60 with bottle compartment oven safety  black
cooker 90x60 with bottle compartment oven safety  ss
cooker 90x60 with bottle compartment full safety  white
cooker 90x60 wide semi pro black
cooker 90x60bottle compartment base safety black
cooker 90x60 wide oven safety white
cooker 90x60 wide oven safety ss

In [58]:
# Function to extract attributes from description
def extract_cooker_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Initialize attributes
    dimension = None
    color = None
    bottle_compartment = None
    full_safety = None
    
    # Extract dimension (e.g., 90x60, 60x60, 5555)
    dimension_match = re.search(r'(\d{2,4})x(\d{2,4})', description)
    if dimension_match:
        dimension = f"{dimension_match.group(1)}x{dimension_match.group(2)}"  # Format as '90x60', '60x60', '55x55'
    
    # Determine color (white, black, stainless steel, inox, red)
    if 'white' in description:
        color = 'white'
    elif 'black' in description:
        color = 'black'
    elif 'ss' in description or 'stainless steel' in description:
        color = 'stainless steel'
    elif 'inox' in description:
        color = 'stainless steel'  # Assuming 'inox' means stainless steel
    elif 'red' in description:
        color = 'red'
    
    # Determine if bottle compartment is present
    if 'bottle compartment' in description:
        bottle_compartment = 'Yes'
    else:
        bottle_compartment = 'No'
    
    # Determine if full safety is present
    if 'full safety' in description:
        full_safety = 'Yes'
    else:
        full_safety = 'No'
    
    return dimension, color, bottle_compartment, full_safety

# Apply the function to extract attributes from each description
cooker['Dimension'], cooker['Color'], cooker['Bottle_Compartment'], cooker['Full_Safety'] = \
    zip(*cooker['Description'].apply(extract_cooker_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1455837740.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cooker['Dimension'], cooker['Color'], cooker['Bottle_Compartment'], cooker['Full_Safety'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1455837740.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cooker['Dimension'], cooker['Color'], cooker['Bottle_Compartment'], cooker['Full_Safety'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1455837740.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cooker['Dimension'], cooker['Color'], cooker['Bottle_Compartment'], cooker['Full_Safety'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1455837740.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cooker['Dimension'], cooker['Color'], cooker['Bottle_Compartment'], cooker['Full_Safety'] = \

In [59]:
cooker.head()

,Item_code,Description,Dimension,Color,Bottle_Compartment,Full_Safety
0,kc40,90x60cm cooker professional,90x60,stainless steel,No,No
1,hcl31,cooker 90x60 with bottle compartment white,90x60,white,Yes,No
2,hcl30,cooker 90x60 with bottle compartment black,90x60,black,Yes,No
3,hcl32,cooker 90x60 with bottle compartment ss,90x60,stainless steel,Yes,No
4,hcl40,cooker 90x60 wide oven white,90x60,white,No,No

In [60]:
# Drop the 'Description' column
cooker.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1016463090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cooker.drop(columns=['Description'], inplace=True)

### Dishwasher

In [61]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = dishwasher['Description'].unique().tolist()

for i in description_categories:
    print(i)

dishwasher  13 settings white
dishwasher  13 settings inox
dishwasher 5 programs white
dishwasher 5 programs silver
dishwasher 16 settings inox
semi integrated dishwasher
dishwasher 12settings inox
fully integrated dishwasher

In [62]:
# Function to add space between number and 'settings'
def add_space_to_settings(description):
    # Split the description at 'settings' and join with space added
    parts = description.split('settings')
    if len(parts) > 1 and parts[0].isdigit():
        return f"{parts[0]} settings{parts[1]}"
    else:
        return description

# Apply the function to transform the description
dishwasher['Description'] = dishwasher['Description'].apply(add_space_to_settings)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2606117443.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher['Description'] = dishwasher['Description'].apply(add_space_to_settings)

In [63]:
# Function to extract attributes from description
def extract_dishwasher_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Initialize attributes
    settings = None
    color = None
    controls = None
    
    # Extract settings (e.g., 13, 5, 16, 12 for integrated)
    settings_match = re.search(r'(\d+)', description)
    if settings_match:
        settings = int(settings_match.group(1))  # Convert settings to integer
    else:
        settings = 12  # Default settings to 12 if no number is found
    
    # Determine color (white, inox, silver)
    if 'white' in description:
        color = 'white'
    elif 'inox' in description:
        color = 'inox'
    elif 'silver' in description:
        color = 'silver'
    
    # Determine controls (fully integrated or semi integrated)
    if 'fully integrated' in description:
        controls = 'fully integrated'
    elif 'semi integrated' in description or 'semi' in description:
        controls = 'semi integrated'
    else:
        controls = 'semi integrated'  # Default to semi integrated if controls not specified
    
    return settings, color, controls

# Apply the function to extract attributes from each description
dishwasher['Settings'], dishwasher['Color'], dishwasher['Controls'] = \
    zip(*dishwasher['Description'].apply(extract_dishwasher_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3940439998.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher['Settings'], dishwasher['Color'], dishwasher['Controls'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3940439998.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher['Settings'], dishwasher['Color'], dishwasher['Controls'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3940439998.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher['Settings'], dishwasher['Color'], dishwasher['Controls'] = \

In [64]:
# Convert the 'Settings' column to integer
dishwasher['Settings'] = dishwasher['Settings'].astype(int)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3358680158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher['Settings'] = dishwasher['Settings'].astype(int)

In [65]:
dishwasher.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    8 non-null      object
 1   Description  8 non-null      object
 2   Settings     8 non-null      int32
 3   Color        6 non-null      object
 4   Controls     8 non-null      object
dtypes: int32(1), object(4)
memory usage: 420.0+ bytes

In [66]:
# Drop the 'Description' column
dishwasher.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4116182174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dishwasher.drop(columns=['Description'], inplace=True)

### Dispenser

In [67]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = dispenser['Description'].unique().tolist()

for i in description_categories:
    print(i)

water dispenser 4l silver
water dispenser bottom load white
desktop water dispenser
water dispenser bottom load silver
water dispenser 4l
water dispenser 3 faucet silver
hotcold water dispenser ss
water dispenser 4l white
water dispenser bottom load black
water dispenser 3 faucet black
water dispenser 3 faucet white

In [68]:
# Function to extract attributes from description
def extract_dispenser_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Initialize attributes
    color = None
    num_faucets = None
    load_type = None
    
    # Determine color (white, black, silver, stainless steel)
    if 'white' in description:
        color = 'white'
    elif 'black' in description:
        color = 'black'
    elif 'silver' in description:
        color = 'silver'
    elif 'ss' in description or 'stainless steel' in description:
        color = 'stainless steel'
    else:
        color = 'silver'  # Default color to silver if not specified
    
    # Determine number of faucets (2 or 3)
    if '3 faucet' in description:
        num_faucets = 3
    else:
        num_faucets = 2  # Default number of faucets to 2 if not specified
    
    # Determine load type (bottom load or upper load)
    if 'bottom load' in description:
        load_type = 'Bottom Load'
    else:
        load_type = 'Upper Load'  # Default load type to Upper Load if not specified
    
    return color, num_faucets, load_type

# Apply the function to extract attributes from each description
dispenser['Color'], dispenser['Number_of_Faucets'], dispenser['Load_Type'] = \
    zip(*dispenser['Description'].apply(extract_dispenser_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2125122644.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispenser['Color'], dispenser['Number_of_Faucets'], dispenser['Load_Type'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2125122644.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispenser['Color'], dispenser['Number_of_Faucets'], dispenser['Load_Type'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2125122644.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispenser['Color'], dispenser['Number_of_Faucets'], dispenser['Load_Type'] = \

In [69]:
dispenser.head()

,Item_code,Description,Color,Number_of_Faucets,Load_Type
0,pw004,water dispenser 4l silver,silver,2,Upper Load
1,pw011,water dispenser bottom load white,white,2,Bottom Load
2,pw012,desktop water dispenser,silver,2,Upper Load
3,pw002,water dispenser bottom load silver,silver,2,Bottom Load
4,pw003,water dispenser 4l,silver,2,Upper Load

In [70]:
dispenser.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_code          11 non-null     object
 1   Description        11 non-null     object
 2   Color              11 non-null     object
 3   Number_of_Faucets  11 non-null     int64
 4   Load_Type          11 non-null     object
dtypes: int64(1), object(4)
memory usage: 572.0+ bytes

In [71]:
# Drop the 'Description' column
dispenser.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\367625121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispenser.drop(columns=['Description'], inplace=True)

### Dryer

In [72]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = dryer['Description'].unique().tolist()

for i in description_categories:
    print(i)

dryer 10kg white
vented dryer 8kg black
dryer 8kg condenser white
vented dryer 8kkg white
condenser dryer 10 kg white
vented dryer 7kg white
condenser dryer 10 kg anhracite
condenser dryer 9kg white
dryer 8kg condenser anthracite
dryer 9kg condenser black
vented dryer 8kg silver
vented dryer 8kg white
washer 15kgs white
dryer 10kg heat pump white
condenser dryer 7kgs white

In [73]:
# Function to extract attributes from description
def extract_dryer_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Filter out rows with specific descriptions
    if description == 'dvd player' or description == 'washer 15kgs white':
        return None, None, None  # Return None to indicate dropping this row
    
    # Separate number followed by "kg" into "<number> kg" format
    if 'kg' in description:
        description = description.replace('kg', ' kg')  # Add space before 'kg' if not present
    
    # Determine color (white, black, silver, anthracite)
    if 'white' in description:
        color = 'white'
    elif 'black' in description:
        color = 'black'
    elif 'silver' in description:
        color = 'silver'
    elif 'anthracite' in description:
        color = 'anthracite'
    else:
        color = 'white'  # Default color to white if not specified
    
    # Determine functionality (vented, condenser, heat pump)
    if 'vented' in description:
        functionality = 'vented'
    elif 'condenser' in description:
        functionality = 'condenser'
    elif 'heat pump' in description:
        functionality = 'heat pump'
    else:
        functionality = 'vented'  # Default functionality to vented if not specified
    
    # Extract size (7, 8, 9, 10)
    size = None
    if '7' in description:
        size = 7
    elif '8' in description:
        size = 8
    elif '9' in description:
        size = 9
    elif '10' in description:
        size = 10
    
    return color, functionality, size

# Apply the function to extract attributes from each description and filter rows
dryer['Color'], dryer['Functionality'], dryer['Size'] = \
    zip(*dryer['Description'].apply(extract_dryer_attributes))

# Drop rows where 'Description' is 'dvd player' or 'washer 15kgs white'
dryer = dryer.dropna()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2136223778.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dryer['Color'], dryer['Functionality'], dryer['Size'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2136223778.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dryer['Color'], dryer['Functionality'], dryer['Size'] = \
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2136223778.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dryer['Color'], dryer['Functionality'], dryer['Size'] = \

In [74]:
# Convert the 'Settings' column to integer
dryer['Size'] = dryer['Size'].astype(int)

In [75]:
dryer.head()

  Item_code                  Description  Color Functionality  Size
0     kd100             dryer 10kg white  white        vented    10
1      sw72       vented dryer 8kg black  black        vented     8
2      cv02    dryer 8kg condenser white  white     condenser     8
3      pv20      vented dryer 8kkg white  white        vented     8
4      cv05  condenser dryer 10 kg white  white     condenser    10

In [76]:
dryer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 15
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item_code      15 non-null     object
 1   Description    15 non-null     object
 2   Color          15 non-null     object
 3   Functionality  15 non-null     object
 4   Size           15 non-null     int32
dtypes: int32(1), object(4)
memory usage: 660.0+ bytes

In [77]:
# Drop the 'Description' column
dryer.drop(columns=['Description'], inplace=True)

### Electric Oven

In [78]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = electric_oven['Description'].unique().tolist()

for i in description_categories:
    print(i)

electric oven 48ltrs white
electric oven 65ltrs black
electric oven 65ltrs white

In [79]:
# Function to extract attributes from description
def extract_oven_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Separate number followed by "ltrs" into "<number> ltrs" format
    if 'ltrs' in description:
        description = description.replace('ltrs', ' ltrs')  # Add space before 'ltrs' if not present
    
    # Determine color (white, black)
    if 'white' in description:
        color = 'white'
    elif 'black' in description:
        color = 'black'
    else:
        color = 'white'  # Default color to white if not specified
    
    # Extract size (48, 65)
    size = None
    if '48' in description:
        size = 48
    elif '65' in description:
        size = 65
    
    return color, size

# Apply the function to extract attributes from each description
electric_oven['Color'], electric_oven['Size'] = zip(*electric_oven['Description'].apply(extract_oven_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\926825341.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electric_oven['Color'], electric_oven['Size'] = zip(*electric_oven['Description'].apply(extract_oven_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\926825341.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electric_oven['Color'], electric_oven['Size'] = zip(*electric_oven['Description'].apply(extract_oven_attributes))

In [80]:
electric_oven.head()

  Item_code                 Description  Color  Size
0      pe01  electric oven 48ltrs white  white    48
1      pe02  electric oven 65ltrs black  black    65
2      pe03  electric oven 65ltrs white  white    65

In [81]:
electric_oven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    3 non-null      object
 1   Description  3 non-null      object
 2   Color        3 non-null      object
 3   Size         3 non-null      int64
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes

In [82]:
# Drop the 'Description' column
electric_oven.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\973380236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electric_oven.drop(columns=['Description'], inplace=True)

### Hood

In [83]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = hood['Description'].unique().tolist()

for i in description_categories:
    print(i)

hood 90cm pop ss
hood 90cm glass back
60cm t shape hood
90cm t shape hood
hood 60cm pop ss
hood 90cm pop black
hood 90cm swing ss

In [84]:
# Function to extract attributes from description
def extract_hood_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Separate number followed by "cm" into "<number> cm" format
    if 'cm' in description:
        description = description.replace('cm', ' cm')  # Add space before 'cm' if not present
    
    # Extract size (60, 90)
    size = None
    if '60' in description:
        size = 60
    elif '90' in description:
        size = 90
    
    # Determine color (black, ss/stainless steel)
    color = None
    if 'black' in description:
        color = 'black'
    elif 'ss' in description or 'stainless steel' in description:
        color = 'stainless steel'
    else:
        color = 'black'  # Default color to black if not specified
    
    # Determine type (pop, glass back, t shape, swing, quadra)
    if 'pop' in description:
        type_str = 'pop'
    elif 'glass back' in description:
        type_str = 'glass back'
    elif 't shape' in description:
        type_str = 't shape'
    elif 'swing' in description:
        type_str = 'swing'
    elif 'quadra' in description:
        type_str = 'quadra'
    else:
        type_str = None
    
    return size, color, type_str

# Apply the function to extract attributes from each description
hood['Size'], hood['Color'], hood['Type'] = zip(*hood['Description'].apply(extract_hood_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2946496348.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hood['Size'], hood['Color'], hood['Type'] = zip(*hood['Description'].apply(extract_hood_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2946496348.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hood['Size'], hood['Color'], hood['Type'] = zip(*hood['Description'].apply(extract_hood_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2946496348.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hood['Size'], hood['Color'], hood['Type'] = zip(*hood['Description'].apply(extract_hood_attributes))

In [85]:
hood.head()

  Item_code           Description  Size            Color        Type
0      s295      hood 90cm pop ss    90  stainless steel         pop
1      s299  hood 90cm glass back    90  stainless steel  glass back
2      hk60     60cm t shape hood    60            black     t shape
3      hk90     90cm t shape hood    90            black     t shape
4      s264      hood 60cm pop ss    60  stainless steel         pop

In [86]:
hood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    7 non-null      object
 1   Description  7 non-null      object
 2   Size         7 non-null      int64
 3   Color        7 non-null      object
 4   Type         7 non-null      object
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

In [87]:
# Drop the 'Description' column
hood.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3150124637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hood.drop(columns=['Description'], inplace=True)

### Laundry

In [88]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = laundry['Description'].unique().tolist()

for i in description_categories:
    print(i)

washer 7kgs 1000rpm white
washer 10kgs white
washer 8kgs 1200rpm white
front load 8kg washer 1000rpm black
washer 15kgs white
washer 7kg 1000rpm white
washer 8kg 1300rpm white
washer  7kg  1000rpm white
washer dryer 8kg5kg 1400rpm white
washer 9kg 1500rpm white
washer 8kg 1400rpm white
front load washer dryer 7kg4kg white
washer  7kg  1000rpm silver
washer 13kg 1400rpm anthracite
washer 10kgs 1400rpm white
washer 7kgs 1000rpm anthracite
washer 8kgs 1200rpm black
washer 8kgs 1000rpm white
washer 9kgs 1400rpm white
washer 8kg 1300rpm silver
washer 10kg 1500rpm white
washer 10kg1500rpm white
front load 8kg washer 1000rpm white
washer 9kgs 1200rpm black
washer8kg 1400rpm anthracite
washer 9kg 1200rpm white
washer 10kg 1400rpminverter white
washer dryer 128kg 1400rpm white
washer  9kg 1400rpm  black
washer dryer  9kg 6kg  1400rpm white
upright full fridge stainless steel
washer 9kg 1400rpm  white

In [89]:
# Function to extract attributes from description
def extract_washer_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Separate number followed by "kgs" or "kg" into "<number> kg" format
    if 'kgs' in description:
        description = description.replace('kgs', ' kg')  # Replace 'kgs' with ' kg'
    elif 'kg' in description:
        description = description.replace('kg', ' kg')  # Replace 'kg' with ' kg'
    
    # Separate number followed by "rpm" into "<number> rpm" format
    if 'rpm' in description:
        description = description.replace('rpm', ' rpm')  # Replace 'rpm' with ' rpm'
    
    # Separate number followed by "rpminverter" into "<number> rpm inverter" format
    if 'rpminverter' in description:
        description = description.replace('rpminverter', ' rpm inverter')  # Replace 'rpminverter' with ' rpm inverter'
    
    # Extract size (7, 10, 8, 9, 13, 15)
    size = None
    if '7 kg' in description:
        size = 7
    elif '10 kg' in description:
        size = 10
    elif '8 kg' in description:
        size = 8
    elif '9 kg' in description:
        size = 9
    elif '13 kg' in description:
        size = 13
    elif '15 kg' in description:
        size = 15
    
    # Extract speed (1000, 1200, 1300, 1500, 1400)
    speed = None
    if '1000 rpm' in description:
        speed = 1000
    elif '1200 rpm' in description:
        speed = 1200
    elif '1300 rpm' in description:
        speed = 1300
    elif '1500 rpm' in description:
        speed = 1500
    elif '1400 rpm' in description:
        speed = 1400
    else:
        speed = 1000
    
    # Determine color (stainless steel, white, silver, anthracite)
    color = None
    if 'stainless steel' in description:
        color = 'stainless steel'
    elif 'white' in description:
        color = 'white'
    elif 'silver' in description:
        color = 'silver'
    elif 'anthracite' in description:
        color = 'anthracite'
    elif 'black' in description:
        color = 'black'
    else:
        color = 'silver'
    
    # Determine inverter (yes, no)
    inverter = 'yes' if 'inverter' in description else 'no'
    
    # Determine type (front load, regular)
    type_str = 'front load' if 'front load' in description else 'regular'
    
    return size, speed, color, inverter, type_str

# Apply the function to extract attributes from each description
laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))

# Filter out rows with invalid descriptions (e.g., 'upright full fridge stainless steel', 'washer dryer 128kg 1400rpm white')
laundry = laundry[~laundry['Description'].str.contains('upright full fridge|washer dryer 128kg', case=False)]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089791847.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089791847.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089791847.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089791847.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4089791847.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laundry['Size'], laundry['Speed'], laundry['Color'], laundry['Inverter'], laundry['Type'] = zip(*laundry['Description'].apply(extract_washer_attributes))

In [90]:
# Convert the 'Settings' column to integer
laundry['Size'] = laundry['Size'].astype(int)

In [91]:
laundry.head()

,Item_code,Description,Size,Speed,Color,Inverter,Type
0,pg110,washer 7kgs 1000rpm white,7,1000,white,no,regular
1,kw100,washer 10kgs white,10,1000,white,no,regular
2,pg122,washer 8kgs 1200rpm white,8,1200,white,no,regular
3,sw86,front load 8kg washer 1000rpm black,8,1000,black,no,front load
4,kw105,washer 15kgs white,15,1000,white,no,regular

In [92]:
laundry.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 32
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    31 non-null     object
 1   Description  31 non-null     object
 2   Size         31 non-null     int32
 3   Speed        31 non-null     int64
 4   Color        31 non-null     object
 5   Inverter     31 non-null     object
 6   Type         31 non-null     object
dtypes: int32(1), int64(1), object(5)
memory usage: 1.8+ KB

In [93]:
# Drop the 'Description' column
laundry.drop(columns=['Description'], inplace=True)

### Microwave

In [94]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = microwave['Description'].unique().tolist()

for i in description_categories:
    print(i)

microwave 22 liters digital control white
microwave 30 liters with grill silver
microwave 22 liters mechanical control white
microwave 30 liters with grill white
builtin microwave oven 30 liters stainless steel
builtin microwave combi oven 44 liters
built in microwave and grill 25 liters
builtin microwave oven 28 liters black

In [95]:
# Function to extract attributes from description
def extract_microwave_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Separate number followed by "liters" into "<number>" format
    if 'liters' in description:
        description = description.replace('liters', '').strip()  # Remove 'liters' and strip whitespace
    
    # Extract size (25, 44, 22, 30, 28)
    size = None
    if ' 25' in description:
        size = 25
    elif ' 44' in description:
        size = 44
    elif ' 22' in description:
        size = 22
    elif ' 30' in description:
        size = 30
    elif ' 28' in description:
        size = 28
    
    # Determine color (stainless steel, white, silver, black)
    color = None
    if 'stainless steel' in description:
        color = 'stainless steel'
    elif 'white' in description:
        color = 'white'
    elif 'silver' in description:
        color = 'silver'
    elif 'black' in description:
        color = 'black'
    
    # Determine if built-in (yes, no)
    built_in = 'yes' if 'builtin' in description or 'built in' in description else 'no'
    
    # Determine if with grill (yes, no)
    with_grill = 'yes' if 'with grill' in description else 'no'
    
    # Determine if with oven (yes, no)
    with_oven = 'yes' if 'oven' in description else 'no'
    
    # Determine control type (mechanical, digital)
    control_type = 'mechanical' if 'mechanical' in description else 'digital'
    
    return size, color, built_in, with_grill, with_oven, control_type

# Apply the function to extract attributes from each description
microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4077802656.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave['Size'], microwave['Color'], microwave['Built_in'], microwave['With_Grill'], microwave['With_Oven'], microwave['Control_Type'] = zip(*microwave['Description'].apply(extract_microwave_attributes))

In [96]:
microwave.head()

,Item_code,Description,Size,Color,Built_in,With_Grill,With_Oven,Control_Type
0,pm03,microwave 22 liters digital control white,22,white,no,no,no,digital
1,pm05,microwave 30 liters with grill silver,30,silver,no,yes,no,digital
2,pm04,microwave 22 liters mechanical control white,22,white,no,no,no,mechanical
3,pm06,microwave 30 liters with grill white,30,white,no,yes,no,digital
4,pm02,builtin microwave oven 30 liters stainless steel,30,stainless steel,yes,no,yes,digital

In [97]:
microwave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Item_code     8 non-null      object
 1   Description   8 non-null      object
 2   Size          8 non-null      int64
 3   Color         6 non-null      object
 4   Built_in      8 non-null      object
 5   With_Grill    8 non-null      object
 6   With_Oven     8 non-null      object
 7   Control_Type  8 non-null      object
dtypes: int64(1), object(7)
memory usage: 644.0+ bytes

In [98]:
# Drop the 'Description' column
microwave.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3798400949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  microwave.drop(columns=['Description'], inplace=True)

### Oven

In [99]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = oven['Description'].unique().tolist()

for i in description_categories:
    print(i)

60cm builtin gas oven stainless steel
builtin 90 cm oven gasgas black
90cm builtin gas oven stainless steel
builtin 90 cm oven gasgas stainless steel
built in 60cm oven gaselectric grill black
built in 60cm oven gasgas grill stainless steel
60cm builtin gas oven black
90cm builtin gas oven black
built in 60cm oven gaselectric grill stainless steel
builtin 90 cm oven gaselectric stainless steel
60cm builtin gas oven concection stainless steel
90cm builtin gas oven convection stainless steel
built in 60cm oven electric stainless steel
60cm builtin gas oven white
oven 60cm gasgas ss
oven 90cm gasgas ss

In [100]:
# Function to extract attributes from description
def extract_dispenser_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Extract size (60cm, 90cm)
    size = None
    if '60cm' in description:
        size = 60
    elif '90cm' in description:
        size = 90
    else:
        size = 60
    
    # Determine color (stainless steel/ss, white, black)
    color = None
    if 'ss' in description or 'stainless steel' in description:
        color = 'stainless steel'
    elif 'white' in description:
        color = 'white'
    elif 'black' in description:
        color = 'black'
    
    # Determine if built-in (yes, no)
    built_in = 'yes' if 'built in' in description or 'built-in' in description else 'no'
    
    # Determine if with grill (yes, no)
    with_grill = 'yes' if 'grill' in description else 'no'
    
    # Determine functionality (Full Gas, Full Electric, Gas/Electric, Full Gas)
    functionality = None
    if 'full gas' in description or 'gas' in description:
        functionality = 'Full Gas'
    elif 'electric' in description:
        functionality = 'Full Electric'
    elif 'gas/electric' in description:
        functionality = 'Gas/Electric'
    else:
        functionality = 'Full Gas'
    
    return size, color, built_in, with_grill, functionality

# Apply the function to extract attributes from each description
oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3392836832.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3392836832.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3392836832.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3392836832.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3392836832.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven['Size'], oven['Color'], oven['Built_in'], oven['With_Grill'], oven['Functionality'] = zip(*oven['Description'].apply(extract_dispenser_attributes))

In [101]:
oven.head(10)

,Item_code,Description,Size,Color,Built_in,With_Grill,Functionality
0,sw06,60cm builtin gas oven stainless steel,60,stainless steel,no,no,Full Gas
1,ho91,builtin 90 cm oven gasgas black,60,black,no,no,Full Gas
2,sw19,90cm builtin gas oven stainless steel,90,stainless steel,no,no,Full Gas
3,ho90,builtin 90 cm oven gasgas stainless steel,60,stainless steel,no,no,Full Gas
4,ho62,built in 60cm oven gaselectric grill black,60,black,yes,yes,Full Gas
5,ho60,built in 60cm oven gasgas grill stainless steel,60,stainless steel,yes,yes,Full Gas
6,sw04,60cm builtin gas oven black,60,black,no,no,Full Gas
7,sw18,90cm builtin gas oven black,90,black,no,no,Full Gas
8,ho61,built in 60cm oven gaselectric grill stainless...,60,stainless steel,yes,yes,Full Gas
9,ho92,builtin 90 cm oven gaselectric stainless steel,60,stainless steel,no,no,Full Gas

In [102]:
oven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item_code      16 non-null     object
 1   Description    16 non-null     object
 2   Size           16 non-null     int64
 3   Color          16 non-null     object
 4   Built_in       16 non-null     object
 5   With_Grill     16 non-null     object
 6   Functionality  16 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.0+ KB

In [103]:
# Drop the 'Description' column
oven.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3352271713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oven.drop(columns=['Description'], inplace=True)

### top load

In [104]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = top_load['Description'].unique().tolist()

for i in description_categories:
    print(i)

washer top load 16kg
washer top load 10kg
washer top load 13kg

In [105]:
# Function to extract attributes from description
def extract_washer_attributes(description):
    description = description.lower().strip()  # Normalize description: convert to lowercase and strip whitespace
    
    # Separate number followed by "kg" into "<number>" format
    if 'kg' in description:
        description = description.replace('kg', '').strip()  # Remove 'kg' and strip whitespace
    
    # Extract size (10, 13, 16)
    size = None
    if ' 10' in description:
        size = 10
    elif ' 13' in description:
        size = 13
    elif ' 16' in description:
        size = 16
    
    return size

# Apply the function to extract size from each description
top_load['Size'] = top_load['Description'].apply(extract_washer_attributes)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\199851559.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_load['Size'] = top_load['Description'].apply(extract_washer_attributes)

In [106]:
top_load.head()

  Item_code           Description  Size
0     pt160  washer top load 16kg    16
1     pt100  washer top load 10kg    10
2     pt130  washer top load 13kg    13

In [107]:
top_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    3 non-null      object
 1   Description  3 non-null      object
 2   Size         3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [108]:
# Drop the 'Description' column
top_load.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2688037262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_load.drop(columns=['Description'], inplace=True)

### Table top

In [109]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = table_top['Description'].unique().tolist()

for i in description_categories:
    print(i)

refrigerator 7cf white
refrigerator 5cf white
refrigerator 5cf inox
refrigerator 7cf inox
freezer 3 drawers

In [110]:
# Function to extract information from description
def extract_info(description):
    # Normalize description: convert to lowercase and remove extra spaces
    description = description.lower().strip()
    
    # Extract size using regex to find digits followed by 'cf'
    size_match = re.search(r'(\d+)\s*cf', description)
    if size_match:
        size = int(size_match.group(1))
    else:
        size = 3
    
    # Extract color: check for 'white' or 'inox' in description
    if 'white' in description:
        color = 'white'
    elif 'inox' in description:
        color = 'inox'
    else:
        color = 'white'  # Default to white if neither 'white' nor 'inox' found
    
    # Determine type based on 'refrigerator' or 'freezer' in description
    if 'refrigerator' in description:
        product_type = 'Refrigerator'
    elif 'freezer' in description:
        product_type = 'Freezer'
    else:
        product_type = None
    
    return size, color, product_type

# Apply the function to extract information from each description
table_top['Size'], table_top['Color'], table_top['Type'] = zip(*table_top['Description'].apply(extract_info))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\70248349.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_top['Size'], table_top['Color'], table_top['Type'] = zip(*table_top['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\70248349.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_top['Size'], table_top['Color'], table_top['Type'] = zip(*table_top['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\70248349.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_top['Size'], table_top['Color'], table_top['Type'] = zip(*table_top['Description'].apply(extract_info))

In [111]:
table_top.head()

  Item_code             Description  Size  Color          Type
0     fr122  refrigerator 7cf white     7  white  Refrigerator
1     fr120  refrigerator 5cf white     5  white  Refrigerator
2     fr121   refrigerator 5cf inox     5   inox  Refrigerator
3     fr123   refrigerator 7cf inox     7   inox  Refrigerator
4      pf10       freezer 3 drawers     3  white       Freezer

In [112]:
# Convert the 'Settings' column to integer
table_top['Size'] = table_top['Size'].astype(int)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2998158354.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_top['Size'] = table_top['Size'].astype(int)

In [113]:
table_top.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    5 non-null      object
 1   Description  5 non-null      object
 2   Size         5 non-null      int32
 3   Color        5 non-null      object
 4   Type         5 non-null      object
dtypes: int32(1), object(4)
memory usage: 312.0+ bytes

In [114]:
# Drop the 'Description' column
table_top.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1274375220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_top.drop(columns=['Description'], inplace=True)

### Twin Tub

In [115]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = twin_tub['Description'].unique().tolist()

for i in description_categories:
    print(i)

washer twin tub  16kg
washer twin tub  8kg
washer twin tub  10kg
washer twin tub  12kg

In [116]:
# Function to extract size (weight in kg) from description
def extract_size(description):
    # Normalize description: convert to lowercase and remove extra spaces
    description = description.lower().strip()
    
    # Extract size using regex to find digits followed by 'kg'
    size_match = re.search(r'(\d+)\s*kg', description)
    if size_match:
        size = int(size_match.group(1))
    else:
        size = None
    
    return size

# Apply the function to extract size from each description
twin_tub['Size'] = twin_tub['Description'].apply(extract_size)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\957177846.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twin_tub['Size'] = twin_tub['Description'].apply(extract_size)

In [117]:
twin_tub.head()

  Item_code            Description  Size
0     pt060  washer twin tub  16kg    16
1     pt080   washer twin tub  8kg     8
2     pt030  washer twin tub  10kg    10
3     pt050  washer twin tub  12kg    12

In [118]:
twin_tub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    4 non-null      object
 1   Description  4 non-null      object
 2   Size         4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [119]:
# Drop the 'Description' column
twin_tub.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2208565457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twin_tub.drop(columns=['Description'], inplace=True)

### Vacuum

In [120]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = vacuum['Description'].unique().tolist()

for i in description_categories:
    print(i)

vacuum cleaner bagless
vacuum cleaner 2000 watt
vacuum cleaner 2200 watt
handy vac 74 v white
vacuum cleaner 2500 watt
handy vac 74 v black
vacuum cleaner 1800 watt

In [121]:
# Function to extract information from description
def extract_info(description):
    # Normalize description: convert to lowercase and strip leading/trailing spaces
    description = description.lower().strip()
    
    # Extract power (in watts) using regex to find digits followed by 'watts'
    import re
    power_match = re.search(r'(\d+)\s*watts', description)
    if power_match:
        power = int(power_match.group(1))
    else:
        power = 500  # Default power if not specified
    
    # Determine type (handy or regular)
    if 'handy' in description:
        type_str = 'Handy'
    elif 'regular' in description:
        type_str = 'Regular'
    else:
        type_str = 'Regular'  # Default type if not specified
    
    # Determine color (black or white)
    if 'black' in description:
        color = 'Black'
    elif 'white' in description:
        color = 'White'
    else:
        color = 'White'  # Default color if not specified
    
    # Determine bagless status
    if 'bagless' in description:
        bagless = 'Yes'
    else:
        bagless = 'No'
    
    return power, type_str, color, bagless

# Apply the function to extract information from each description
vacuum['Power'], vacuum['Type'], vacuum['Color'], vacuum['Bagless'] = zip(*vacuum['Description'].apply(extract_info))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2325200856.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacuum['Power'], vacuum['Type'], vacuum['Color'], vacuum['Bagless'] = zip(*vacuum['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2325200856.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacuum['Power'], vacuum['Type'], vacuum['Color'], vacuum['Bagless'] = zip(*vacuum['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2325200856.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacuum['Power'], vacuum['Type'], vacuum['Color'], vacuum['Bagless'] = zip(*vacuum['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2325200856.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacuum['Power'], vacuum['Type'], vacuum['Color'], vacuum['Bagless'] = zip(*vacuum['Description'].apply(extract_info))

In [122]:
vacuum.head()

  Item_code               Description  Power     Type  Color Bagless
0      pv23    vacuum cleaner bagless    500  Regular  White     Yes
1      pv20  vacuum cleaner 2000 watt    500  Regular  White      No
2      pv22  vacuum cleaner 2200 watt    500  Regular  White      No
3      pv66      handy vac 74 v white    500    Handy  White      No
4      pv25  vacuum cleaner 2500 watt    500  Regular  White      No

In [123]:
vacuum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item_code    7 non-null      object
 1   Description  7 non-null      object
 2   Power        7 non-null      int64
 3   Type         7 non-null      object
 4   Color        7 non-null      object
 5   Bagless      7 non-null      object
dtypes: int64(1), object(5)
memory usage: 468.0+ bytes

In [124]:
# Drop the 'Description' column
vacuum.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\358859861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vacuum.drop(columns=['Description'], inplace=True)

### Multi door

In [125]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = multi_door['Description'].unique().tolist()

for i in description_categories:
    print(i)

3 doors refrigerator no frost stainless steel
4 doors refrigerator  29 cuft black
4 doors refrigerator 30 cuft black
4 doors refrigerator 30 cuft silver
4 doors refrigerator  29 cuft silver
22 cft  bottom mount fridge

In [126]:
# Function to extract information from description
def extract_info(description):
    # Normalize description: convert to lowercase and strip leading/trailing spaces
    description = description.lower().strip()
    
    # Extract number of doors
    if '3 doors' in description:
        doors = 3
    elif '4 doors' in description:
        doors = 4
    else:
        doors = 4  # Default to 4 doors if not specified
    
    # Extract size (in cuft) using regex to find digits followed by 'cuft'
    import re
    size_match = re.search(r'(\d+)\s*cuft', description)
    if size_match:
        size = int(size_match.group(1))
    else:
        size = 30  # Default size if not specified
    
    # Determine color (black, stainless steel, silver)
    if 'black' in description:
        color = 'Black'
    elif 'stainless steel' in description:
        color = 'Stainless Steel'
    elif 'silver' in description:
        color = 'Silver'
    else:
        color = 'Silver'  # Default color if not specified
    
    # Determine no frost status
    if 'no frost' in description:
        no_frost = 'Yes'
    else:
        no_frost = 'No'
    
    # Determine type (bottom mount or regular)
    if 'bottom mount' in description:
        fridge_type = 'Bottom Mount'
    else:
        fridge_type = 'Regular'
    
    return doors, size, color, no_frost, fridge_type

# Apply the function to extract information from each description
multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\108562218.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\108562218.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\108562218.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\108562218.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\108562218.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door['Number_of_Doors'], multi_door['Size'], multi_door['Color'], multi_door['No_Frost'], multi_door['Type'] = zip(*multi_door['Description'].apply(extract_info))

In [127]:
multi_door.head()

,Item_code,Description,Number_of_Doors,Size,Color,No_Frost,Type
0,kt23,3 doors refrigerator no frost stainless steel,3,30,Stainless Steel,Yes,Regular
1,pq01,4 doors refrigerator 29 cuft black,4,29,Black,No,Regular
2,pq04,4 doors refrigerator 30 cuft black,4,30,Black,No,Regular
3,pq03,4 doors refrigerator 30 cuft silver,4,30,Silver,No,Regular
4,pq02,4 doors refrigerator 29 cuft silver,4,29,Silver,No,Regular

In [128]:
multi_door.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Item_code        6 non-null      object
 1   Description      6 non-null      object
 2   Number_of_Doors  6 non-null      int64
 3   Size             6 non-null      int64
 4   Color            6 non-null      object
 5   No_Frost         6 non-null      object
 6   Type             6 non-null      object
dtypes: int64(2), object(5)
memory usage: 468.0+ bytes

In [129]:
# Drop the 'Description' column
multi_door.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3363778951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multi_door.drop(columns=['Description'], inplace=True)

### Refrigerator

In [130]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = refrigerator['Description'].unique().tolist()

for i in description_categories:
    print(i)

upright full fridge stainless steel
upright cabinet 21cft no frost
upright freezer 21cft no frost
top mount refrigerator nofrost 20 cu ft white
top mount refrigerator nofrost 22 cu ft white
24cft top mount fridge no frost white
24cft top mount fridge no frost silver
top mount refrigerator 23cft white
top mount refrigerator nofrost 20 cu ft silver
top mount refrigerator nofrost 28 cu ft inox
top mount refrigerator defrost 13 cu ft white
top mount refrigerator nofrost 15 cu ft white
top mount refrigerator nofrost 28 cu ft white
top mount refrigerator nofrost 22 cu ft inox
top mount refrigerator 25cft white
top mount refrigerator nofrost 26 cu ft white
top mount refrigerator nofrost 21 cu ft black
top mount refrigerator nofrost 16 cu ft white
top mount refrigerator nofrost 26 cu ft inox
top mount refrigerator nofrost 21 cu ft white
top mount refrigerator nofrost 24 cu ft white
top mount refrigerator nofrost 21 cu ft inox
top mount refrigerator nofrost 24 cu ft inox
top mount refrigerator 25cft stainless steel
top mount refrigerator 23cft ss
vaccine icepack freeze

In [131]:
# Function to extract information from description
def extract_info(description):
    # Normalize description: convert to lowercase and strip leading/trailing spaces
    description = description.lower().strip()
    
    # Extract Size (in cft) using regex to find digits followed by 'cft'
    size_match = re.search(r'(\d+)\s*cft', description)
    if size_match:
        size = int(size_match.group(1))
    else:
        size = 20  # Default size if not specified
    
    # Determine Color (white, stainless steel, silver, inox, black)
    if 'stainless steel' in description or 'ss' in description:
        color = 'Stainless Steel'
    elif 'silver' in description:
        color = 'Silver'
    elif 'inox' in description:
        color = 'Inox'
    elif 'black' in description:
        color = 'Black'
    else:
        color = 'White'  # Default color if not specified
    
    # Determine No Frost status (yes or no)
    if 'nofrost' in description or 'no frost' in description:
        no_frost = 'Yes'
    else:
        no_frost = 'No'
    
    # Determine Number of Doors (1 for upright, 2 otherwise)
    if 'upright' in description or 'vaccine icepack freeze' in description:
        doors = 1
    else:
        doors = 2
    
    return size, color, no_frost, doors

# Apply the function to extract information from each description
refrigerator['Size'], refrigerator['Color'], refrigerator['No_Frost'], refrigerator['Number_of_Doors'] = zip(*refrigerator['Description'].apply(extract_info))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2298695941.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refrigerator['Size'], refrigerator['Color'], refrigerator['No_Frost'], refrigerator['Number_of_Doors'] = zip(*refrigerator['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2298695941.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refrigerator['Size'], refrigerator['Color'], refrigerator['No_Frost'], refrigerator['Number_of_Doors'] = zip(*refrigerator['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2298695941.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refrigerator['Size'], refrigerator['Color'], refrigerator['No_Frost'], refrigerator['Number_of_Doors'] = zip(*refrigerator['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2298695941.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refrigerator['Size'], refrigerator['Color'], refrigerator['No_Frost'], refrigerator['Number_of_Doors'] = zip(*refrigerator['Description'].apply(extract_info))

In [132]:
refrigerator.head()

,Item_code,Description,Size,Color,No_Frost,Number_of_Doors
0,cf03,upright full fridge stainless steel,20,Stainless Steel,No,1
1,kp10,upright cabinet 21cft no frost,21,White,Yes,1
2,kp11,upright freezer 21cft no frost,21,White,Yes,1
3,pr500,top mount refrigerator nofrost 20 cu ft white,20,White,Yes,2
4,pr600,top mount refrigerator nofrost 22 cu ft white,20,White,Yes,2

In [133]:
refrigerator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Item_code        26 non-null     object
 1   Description      26 non-null     object
 2   Size             26 non-null     int64
 3   Color            26 non-null     object
 4   No_Frost         26 non-null     object
 5   Number_of_Doors  26 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.3+ KB

In [134]:
# Drop the 'Description' column
refrigerator.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\60236031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refrigerator.drop(columns=['Description'], inplace=True)

### hob

In [135]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = hob['Description'].unique().tolist()

for i in description_categories:
    print(i)

60cm hob 4gas burner stainless steel
built in 90cm hob 41gas burnersglass black
90cm hob 5 gas burner stainless steel
70cm hob 5gas burner safety stainless steel
90cm hob 5 gas burner s safety stainless steel
built in 70cm hob 41gas burnersglass black
built in 90cm hob 5 gas burners ss
built in 70cm hob 41gas burnersstainless steel
built in 70cm hob 5 gas burners ss
60cm hob 4gas burner black
90cm hob 5 gas burner black
built in 60cm hob 4gas burners stainlesss teel
built in 90cm hob 41gas burners 5kw ss
built in 60cm hob 31gas burners 5kw ss
70cm hob 5 gas burner black
60cm hob 4 gas burnersafety stainless steel
built in 90cm hob 41gas burners ss
70cm hob 5 gas burner stainless steel
90cm hob 5 gas burnersafety stainless steel
90cm hob 5 gas burner glass
60cm hob 4gas burner white
60cm hob 4 gas burner glass
30cm hob 1 gas burner stainless steel
60cm hob 4 gas burner  s safety stainless steel
built in 60cm hob 4gas burners glass black
built in 60cm hob 31gas burners stainlesss teel
30cm hob induction
hob 60cm 4 gas burners ss
hob 90cm 41triple burner ss

In [136]:
# Function to extract information from description
def extract_info(description):
    # Normalize description: convert to lowercase and strip leading/trailing spaces
    description = description.lower().strip()
    
    # Extract Size (in cm) using regex to find digits followed by 'cm'
    size_match = re.search(r'(\d+)\s*cm', description)
    if size_match:
        size = int(size_match.group(1))
    else:
        size = 60  # Default size if not specified
    
    # Extract Number of Burners using regex to find digits followed by 'gas' or 'triple'
    burners_match = re.search(r'(\d+)\s*(gas|triple|induction)', description)
    if burners_match:
        num_burners = int(burners_match.group(1))
    else:
        num_burners = 4  # Default number of burners if not specified
    
    # Determine Color (stainless steel, black, white)
    if 'stainless steel' in description or 'ss' in description:
        color = 'Stainless Steel'
    elif 'black' in description:
        color = 'Black'
    elif 'white' in description:
        color = 'White'
    else:
        color = 'Black'  # Default color if not specified
    
    # Determine Safety status (Full Safety or Burner Safety)
    if 'safety' in description:
        safety = 'Full Safety'
    else:
        safety = 'Burner Safety'
    
    # Determine Built In status (yes or no)
    if 'built in' in description:
        built_in = 'Yes'
    else:
        built_in = 'No'
    
    return size, color, num_burners, safety, built_in

# Apply the function to extract information from each description
hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\14756800.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\14756800.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\14756800.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\14756800.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\14756800.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob['Size'], hob['Color'], hob['Number_of_Burners'], hob['Safety'], hob['Built_In'] = zip(*hob['Description'].apply(extract_info))

In [137]:
hob.head()

,Item_code,Description,Size,Color,Number_of_Burners,Safety,Built_In
0,sh07,60cm hob 4gas burner stainless steel,60,Stainless Steel,4,Burner Safety,No
1,hp92,built in 90cm hob 41gas burnersglass black,90,Stainless Steel,41,Burner Safety,Yes
2,sh11,90cm hob 5 gas burner stainless steel,90,Stainless Steel,5,Burner Safety,No
3,sh17,70cm hob 5gas burner safety stainless steel,70,Stainless Steel,5,Full Safety,No
4,sh18,90cm hob 5 gas burner s safety stainless steel,90,Stainless Steel,5,Full Safety,No

In [138]:
hob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_code          29 non-null     object
 1   Description        29 non-null     object
 2   Size               29 non-null     int64
 3   Color              29 non-null     object
 4   Number_of_Burners  29 non-null     int64
 5   Safety             29 non-null     object
 6   Built_In           29 non-null     object
dtypes: int64(2), object(5)
memory usage: 1.7+ KB

In [139]:
# Drop the 'Description' column
hob.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2288922711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hob.drop(columns=['Description'], inplace=True)

### dap

In [140]:
# Assuming you have a DataFrame named 'freezer' with a column 'Description'

# Get the unique categories from the 'Description' column
description_categories = dap['Description'].unique().tolist()

for i in description_categories:
    print(i)

food processor 1000w
hand mixer
citrus juicer 12 ltrs
juice extractor
table blender
steam iron
steam iron anti calc
hair dryer 2400w
chopper 400w
contact grill 2000w
food processor 1000w silver
kettle stainless steel
fan heater 2 heating
hair dryer 2200w
kettle white
kettle black
hand blender 2 speeds
mixer with bowl
heater 3quartz elements
iron 2400w

In [141]:
# Function to extract category from description
def extract_category(description):
    # Normalize description: convert to lowercase
    description = description.lower()
    
    # Define category keywords mapping
    category_keywords = {
        'food processor': ['food processor'],
        'hand mixer': ['hand mixer'],
        'citrus juicer': ['citrus juicer'],
        'juice extractor': ['juice extractor'],
        'table blender': ['table blender'],
        'steam iron': ['steam iron'],
        'hair dryer': ['hair dryer'],
        'chopper': ['chopper'],
        'contact grill': ['contact grill'],
        'kettle': ['kettle'],
        'fan heater': ['fan heater'],
        'hand blender': ['hand blender'],
        'mixer with bowl': ['mixer with bowl'],
        'heater': ['heater', 'quartz elements'],
        'iron': ['iron']
    }
    
    # Determine the category based on keywords
    for category, keywords in category_keywords.items():
        for keyword in keywords:
            if keyword in description:
                return category
    
    # Default category if no match is found
    return None

# Apply the function to extract category from each description
dap['Category'] = dap['Description'].apply(extract_category)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4054517050.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dap['Category'] = dap['Description'].apply(extract_category)

In [142]:
dap.head()

  Item_code            Description         Category
0      p130   food processor 1000w   food processor
1      p160             hand mixer       hand mixer
2      p170  citrus juicer 12 ltrs    citrus juicer
3      p171        juice extractor  juice extractor
4      p220          table blender    table blender

In [143]:
# Drop the 'Description' column
dap.drop(columns=['Description'], inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\253013246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dap.drop(columns=['Description'], inplace=True)

In [144]:
dap.head()

  Item_code         Category
0      p130   food processor
1      p160       hand mixer
2      p170    citrus juicer
3      p171  juice extractor
4      p220    table blender

## Customer table

### Creating the customer table

In [145]:
data.head()

,Date,Casa,Region,Brand,Family,Item_code,Description,Tot_qty,Unit_price,Total_price,Payment_terms,Return_rate,Product_class,Discount,Customer_id,Order_id,Phone_number,Customer_loyalty_indicator
0,2020-09-19,mount lebanon,north metn,westpoint,wine cooler,w045,cooler,1.0,712.500000,712.500000,net 60,no,appliances,0.0,cust043,1,81618291,new
1,2018-07-12,bekaa,baalabeck,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,2158.772981,2158.772981,net 30,no,appliances,0.0,cust024,2,71107991,new
2,2018-07-04,bekaa,zahle,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust016,3,3488238,new
3,2019-03-23,bekaa,zahle,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust019,4,80612810,new
4,2018-01-17,mount lebanon,chouf,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1544.550000,1544.550000,cash on delivery,no,appliances,0.0,cust058,5,71200417,new

In [146]:
import pandas as pd

# Assuming 'data' is your original dataframe
# Create a new dataframe with unique Customer IDs
customers = data.drop_duplicates(subset=['Customer_id'])

# Print the new dataframe
print(customers)

           Date           Casa       Region       Brand       Family  \
0    2020-09-19  mount lebanon   north metn   westpoint  wine cooler
1    2018-07-12          bekaa    baalabeck  kelvinator   multi door
2    2018-07-04          bekaa        zahle  kelvinator   multi door
3    2019-03-23          bekaa        zahle  kelvinator   multi door
4    2018-01-17  mount lebanon        chouf  kelvinator   multi door
5    2018-01-18  mount lebanon     keserwan  kelvinator   multi door
6    2018-01-31  mount lebanon   south metn  kelvinator   multi door
7    2018-01-18          south     nabatieh  kelvinator   multi door
8    2019-03-31         beirut  east beirut   panasonic   multi door
9    2018-09-26         beirut  east beirut   panasonic   multi door
10   2018-03-28         beirut  east beirut   panasonic   multi door
11   2020-12-13         beirut  east beirut   panasonic   multi door
19   2018-11-11         beirut  west beirut   panasonic   multi door
20   2018-06-24         beirut  west beirut   panasonic   multi door
21   2018-07-11         beirut  west beirut   panasonic   multi door
23   2018-07-27         beirut  west beirut   panasonic   multi door
25   2018-06-16         beirut  west beirut   panasonic   multi door
27   2020-05-22         beirut  west beirut   panasonic   multi door
34   2019-06-29         beirut  west beirut   panasonic   multi door
53   2019-06-29          bekaa    baalabeck   panasonic   multi door
55   2019-09-29          bekaa   west bekaa   panasonic   multi door
56   2018-08-23          bekaa   west bekaa   panasonic   multi door
59   2019-07-25          bekaa   west bekaa   panasonic   multi door
64   2019-05-17          bekaa        zahle   panasonic   multi door
65   2019-08-30          bekaa        zahle   panasonic   multi door
78   2018-03-25  mount lebanon        chouf   panasonic   multi door
80   2018-02-11  mount lebanon        chouf   panasonic   multi door
91   2018-02-10  mount lebanon        jbeil   panasonic   multi door
93   2018-02-10  mount lebanon        jbeil   panasonic   multi door
94   2018-03-16  mount lebanon        jbeil   panasonic   multi door
100  2018-02-10  mount lebanon     keserwan   panasonic   multi door
108  2018-06-07  mount lebanon     keserwan   panasonic   multi door
110  2019-04-24  mount lebanon     keserwan   panasonic   multi door
113  2020-03-30  mount lebanon     keserwan   panasonic   multi door
119  2018-02-10  mount lebanon   north metn   panasonic   multi door
120  2018-07-28  mount lebanon   north metn   panasonic   multi door
124  2020-06-22  mount lebanon   north metn   panasonic   multi door
164  2018-03-31  mount lebanon   south metn   panasonic   multi door
165  2020-09-28  mount lebanon   south metn   panasonic   multi door
168  2018-02-10  mount lebanon   south metn   panasonic   multi door
209  2019-04-20          north        akkar   panasonic   multi door
213  2018-08-08          north      tripoli   panasonic   multi door
216  2018-07-14          south   marjeayoun   panasonic   multi door
221  2018-07-07          south     nabatieh   panasonic   multi door
234  2018-07-11          south        saida   panasonic   multi door
235  2018-12-18          south        saida   panasonic   multi door
236  2018-12-18          south        saida   panasonic   multi door
237  2018-10-23          south        saida   panasonic   multi door
255  2018-06-17          south          tyr   panasonic   multi door
256  2018-05-31          south          tyr   panasonic   multi door
262  2018-10-11          south          tyr   panasonic   multi door
267  2019-08-09         beirut  east beirut   panasonic          a/c
270  2019-08-09         beirut  east beirut   panasonic          a/c
273  2018-06-22         beirut  east beirut   panasonic          a/c
295  2020-07-01         beirut  east beirut   panasonic          a/c
465  2020-02-23          bekaa    baalabeck   panasonic          a/c
655  2020-06-14  mount lebanon        jbeil   panasonic          a/c
1045 2020-01-28          north      batroun   panasonic          a/c
1054 2020-06-29          north      tripoli   panasonic          a/c
1210 2018-06-10          north      zgharta  kelvinator   multi door

     Item_code                                    Description  Tot_qty  \
0         w045                                         cooler      1.0
1         kt23  3 doors refrigerator no frost stainless steel      1.0
2         kt23  3 doors refrigerator no frost stainless steel      1.0
3         kt23  3 doors refrigerator no frost stainless steel      1.0
4         kt23  3 doors refrigerator no frost stainless steel      1.0
5         kt23  3 doors refrigerator no frost stainless steel      1.0
6         kt23  3 doors refrigerator no frost stainless steel      1.0
7         kt23  3 doors refrigerator no frost stainless steel      1.0
8         pq01            4 doors refrigerator  29 cuft black      1.0
9         pq04             4 doors refrigerator 30 cuft black      1.0
10        pq04             4 doors refrigerator 30 cuft black      1.0
11        pq01            4 doors refrigerator  29 cuft black      1.0
19        pq03            4 doors refrigerator 30 cuft silver      1.0
20        pq03            4 doors refrigerator 30 cuft silver      1.0
21        pq03            4 doors refrigerator 30 cuft silver      1.0
23        pq02           4 doors refrigerator  29 cuft silver      6.0
25        pq03            4 doors refrigerator 30 cuft silver      5.0
27        pq03            4 doors refrigerator 30 cuft silver      1.0
34        pq01            4 doors refrigerator  29 cuft black      1.0
53        pq01            4 doors refrigerator  29 cuft black      1.0
55        pq03            4 doors refrigerator 30 cuft silver      1.0
56        pq03            4 doors refrigerator 30 cuft silver      1.0
59        pq01            4 doors refrigerator  29 cuft black      1.0
64        pq01            4 doors refrigerator  29 cuft black      2.0
65        pq01            4 doors refrigerator  29 cuft black      2.0
78        pq02           4 doors refrigerator  29 cuft silver      1.0
80        pq03            4 doors refrigerator 30 cuft silver      1.0
91        pq02           4 doors refrigerator  29 cuft silver      1.0
93        pq03            4 doors refrigerator 30 cuft silver      1.0
94        pq03            4 doors refrigerator 30 cuft silver      2.0
100       pq04             4 doors refrigerator 30 cuft black      1.0
108       pq03            4 doors refrigerator 30 cuft silver      1.0
110       pq01            4 doors refrigerator  29 cuft black      2.0
113       pq01            4 doors refrigerator  29 cuft black      2.0
119       pq03            4 doors refrigerator 30 cuft silver      1.0
120       pq03            4 doors refrigerator 30 cuft silver      1.0
124       pq04             4 doors refrigerator 30 cuft black      1.0
164       pq03            4 doors refrigerator 30 cuft silver      5.0
165       pq03            4 doors refrigerator 30 cuft silver      3.0
168       pq04             4 doors refrigerator 30 cuft black      1.0
209       pq01            4 doors refrigerator  29 cuft black      1.0
213       pq04             4 doors refrigerator 30 cuft black      1.0
216       pq03            4 doors refrigerator 30 cuft silver      1.0
221       pq02           4 doors refrigerator  29 cuft silver      1.0
234       pq02           4 doors refrigerator  29 cuft silver      1.0
235       pq02           4 doors refrigerator  29 cuft silver      1.0
236       pq03            4 doors refrigerator 30 cuft silver      1.0
237       pq03            4 doors refrigerator 30 cuft silver      1.0
255       pq02           4 doors refrigerator  29 cuft silver      1.0
256       pq02           4 doors refrigerator  29 cuft silver      2.0
262       pq03            4 doors refrigerator 30 cuft silver      3.0
267       p001                               ac split 9000btu      2.0
270       p003                              ac split 18000btu      1.0
273       p001                               ac split 9000btu      1.0
295       p002                              ac split 12000btu     70.0
465       p002                              ac split 12000btu     30.0
655       p001                               ac split 9000btu     10.0
1045      p001                               ac split 9000btu      1.0
1054      p002                              ac split 12000btu      1.0
1210      kb22                    22 cft  bottom mount fridge      1.0

       Unit_price   Total_price     Payment_terms Return_rate Product_class  \
0      712.500000    712.500000            net 60          no    appliances
1     2158.772981   2158.772981            net 30          no    appliances
2     1818.000000   1818.000000            net 30          no    appliances
3     1818.000000   1818.000000            net 30          no    appliances
4     1544.550000   1544.550000  cash on delivery          no    appliances
5     1545.450000   1545.450000            net 30          no    appliances
6     1727.270000   1727.270000            net 30          no    appliances
7     1545.450000   1545.450000            net 60          no    appliances
8     1801.800000   1801.800000  cash on delivery          no    appliances
9     1635.450000   1635.450000            net 60          no    appliances
10    1704.550000   1704.550000  cash on delivery          no    appliances
11    1840.000000   1840.000000            net 30          no    appliances
19    1440.000000   1440.000000  cash on delivery          no    appliances
20    1136.360000   1136.360000            net 60          no    appliances
21    1250.000000   1250.000000            net 60          no    appliances
23    1312.720000   7876.320000            net 60          no    appliances
25    1312.720000   6563.600000  cash on delivery          no    appliances
27     990.990000    990.990000  cash on delivery          no    appliances
34    1596.000000   1596.000000  cash on delivery          no    appliances
53    1440.000000   1440.000000            net 30          no    appliances
55     720.720000    720.720000  cash on delivery          no    appliances
56    1295.450000   1295.450000            net 30          no    appliances
59    1440.000000   1440.000000            net 30          no    appliances
64    1490.210000   2980.420000  cash on delivery          no    appliances
65    1489.640000   2979.280000            net 30          no    appliances
78    1402.197570   1402.197570            net 60          no    appliances
80    1520.000000   1520.000000            net 60          no    appliances
91    1558.000000   1558.000000            net 30          no    appliances
93    1520.000000   1520.000000            net 30          no    appliances
94    1440.000000   2880.000000            net 60          no    appliances
100   1648.250000   1648.250000  cash on delivery          no    appliances
108   1454.550000   1454.550000            net 30          no    appliances
110   1261.260000   2522.520000            net 60          no    appliances
113   1261.260000   2522.520000            net 30          no    appliances
119   1520.000000   1520.000000            net 60          no    appliances
120   1368.180000   1368.180000            net 30          no    appliances
124   1443.000000   1443.000000  cash on delivery          no    appliances
164   1440.000000   7200.000000  cash on delivery          no    appliances
165    990.990000   2972.970000  cash on delivery          no    appliances
168   1648.250000   1648.250000            net 30          no    appliances
209   1368.000000   1368.000000            net 60          no    appliances
213   1482.730000   1482.730000            net 60          no    appliances
216   1440.000000   1440.000000            net 60          no    appliances
221   1401.820000   1401.820000  cash on delivery          no    appliances
234   1401.820000   1401.820000            net 60          no    appliances
235   1454.000000   1454.000000            net 30          no    appliances
236   1454.000000   1454.000000            net 60          no    appliances
237   1367.270000   1367.270000            net 30          no    appliances
255   1402.200000   1402.200000            net 30          no    appliances
256   1402.200000   2804.400000  cash on delivery          no    appliances
262   1440.000000   4320.000000            net 30          no    appliances
267    235.600000    471.200000            net 60          no    appliances
270    372.400000    372.400000  cash on delivery          no    appliances
273    227.270000    227.270000            net 60          no    appliances
295    238.740000  16711.800000            net 30          no    appliances
465    247.750000   7432.500000            net 30          no    appliances
655    247.700000   2477.000000            net 60          no    appliances
1045   225.230000    225.230000            net 60          no    appliances
1054   252.250000    252.250000  cash on delivery          no    appliances
1210  1554.543000   1554.543000  cash on delivery          no    appliances

      Discount Customer_id  Order_id  Phone_number Customer_loyalty_indicator
0          0.0     cust043         1      81618291                        new
1          0.0     cust024         2      71107991                        new
2          0.0     cust016         3       3488238                        new
3          0.0     cust019         4      80612810                        new
4          0.0     cust058         5      71200417                        new
5          0.0     cust053         6      80042927                        new
6          0.0     cust047         7      81509745                        new
7          0.0     cust015         8      81698373                        new
8          0.0     cust026         9      81926493                        new
9          0.0     cust030        10      80854963                        new
10         0.0     cust029        11      81375071                        new
11         0.0     cust027        12      80032754                        new
19         0.0     cust038        20      81187638                        new
20         0.0     cust035        21      80932371                        new
21         0.0     cust039        22      71059336                        new
23        20.0     cust034        24       3515737                        new
25        20.0     cust036        26      80974372                        new
27         0.0     cust040        28      80247324                        new
34         0.0     cust037        35      80817815                        new
53         0.0     cust025        54      81456234                        new
55         0.0     cust022        56      80214414                        new
56         0.0     cust020        57       3467579                        new
59         0.0     cust021        60      70599894                        new
64         0.0     cust017        65      70105418                        new
65         0.0     cust018        66       3616123                        new
78         0.0     cust060        79      71156932                        new
80         0.0     cust059        81      70493282                        new
91         0.0     cust055        92      81687173                        new
93         0.0     cust056        94      70445814                        new
94         0.0     cust054        95      70081610                        new
100        0.0     cust049       101       3630909                        new
108        0.0     cust051       109      70376992                        new
110        0.0     cust052       111      81055819                        new
113        0.0     cust050       114      80946355                        new
119        0.0     cust044       120      81826676                        new
120        0.0     cust042       121      71314305                        new
124        0.0     cust041       125      70494520                        new
164       20.0     cust046       165      81873615                        new
165        0.0     cust045       166      71138169                        new
168        0.0     cust048       169      80815855                        new
209        0.0     cust005       210      70533975                        new
213        0.0     cust001       214       3970279                        new
216        0.0     cust013       217      70684771                        new
221        0.0     cust014       222      70335771                        new
234        0.0     cust008       235      70061155                        new
235        0.0     cust007       236       3007505                        new
236        0.0     cust009       237      70922118                        new
237        0.0     cust006       238      81791936                        new
255        0.0     cust011       256      80187249                        new
256        0.0     cust012       257      70297738                        new
262        0.0     cust010       263      71911736                        new
267        0.0     cust032       268      70691949                        new
270        0.0     cust028       271      81505877                        new
273        0.0     cust033       274      81462027                        new
295       20.0     cust031       296      80851354                        new
465       20.0     cust023       466      71432679                        new
655       20.0     cust057       656      71035673                        new
1045       0.0     cust004      1046       3976150                   frequent
1054       0.0     cust002      1055      81595086                        new
1210       0.0     cust003      1211      80034865                        new

In [147]:
customers.shape

(60, 18)

In [148]:
# Get unique values of 'Casa' column
casa_values = customers['Casa'].unique()

# Print the unique values
for casa in casa_values:
    print(casa)

mount lebanon
bekaa
south
beirut
north

### Removing Irelevant Columns from the customer table

In [149]:
# List of columns to remove
columns_to_remove = ['Date', 'Family', 'Brand', 'Item_code', 'Description', 
                     'Tot_qty', 'Payment_terms', 'Discount', 'Return_rate', 
                     'Product_class', 'Discount', 'Order_id', 'Unit_price', 'Total_price']

# Remove the specified columns from the 'customer' dataframe
customers.drop(columns=columns_to_remove, inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\152017345.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers.drop(columns=columns_to_remove, inplace=True)

In [150]:
customers.head()

,Casa,Region,Customer_id,Phone_number,Customer_loyalty_indicator
0,mount lebanon,north metn,cust043,81618291,new
1,bekaa,baalabeck,cust024,71107991,new
2,bekaa,zahle,cust016,3488238,new
3,bekaa,zahle,cust019,80612810,new
4,mount lebanon,chouf,cust058,71200417,new

## Order Table

In [151]:
data.head()

,Date,Casa,Region,Brand,Family,Item_code,Description,Tot_qty,Unit_price,Total_price,Payment_terms,Return_rate,Product_class,Discount,Customer_id,Order_id,Phone_number,Customer_loyalty_indicator
0,2020-09-19,mount lebanon,north metn,westpoint,wine cooler,w045,cooler,1.0,712.500000,712.500000,net 60,no,appliances,0.0,cust043,1,81618291,new
1,2018-07-12,bekaa,baalabeck,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,2158.772981,2158.772981,net 30,no,appliances,0.0,cust024,2,71107991,new
2,2018-07-04,bekaa,zahle,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust016,3,3488238,new
3,2019-03-23,bekaa,zahle,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1818.000000,1818.000000,net 30,no,appliances,0.0,cust019,4,80612810,new
4,2018-01-17,mount lebanon,chouf,kelvinator,multi door,kt23,3 doors refrigerator no frost stainless steel,1.0,1544.550000,1544.550000,cash on delivery,no,appliances,0.0,cust058,5,71200417,new

In [152]:
# Specify the columns you want to keep
order_columns = ['Order_id', 'Date', 'Discount', 'Customer_id', 'Item_code', 'Tot_qty', 'Return_rate', 'Total_price']

# Create the order dataframe
orders = data.loc[:, order_columns].copy()

In [153]:
orders.head()

,Order_id,Date,Discount,Customer_id,Item_code,Tot_qty,Return_rate,Total_price
0,1,2020-09-19,0.0,cust043,w045,1.0,no,712.500000
1,2,2018-07-12,0.0,cust024,kt23,1.0,no,2158.772981
2,3,2018-07-04,0.0,cust016,kt23,1.0,no,1818.000000
3,4,2019-03-23,0.0,cust019,kt23,1.0,no,1818.000000
4,5,2018-01-17,0.0,cust058,kt23,1.0,no,1544.550000

# Product Table

In [154]:
# Specify the columns you want to keep
product_columns = ['Item_code', 'Product_class', 'Brand', 'Unit_price', 'Description', 'Tot_qty', 'Family']

# Create the order dataframe
product= data.loc[:, product_columns].copy()

In [155]:
product.head()

,Item_code,Product_class,Brand,Unit_price,Description,Tot_qty,Family
0,w045,appliances,westpoint,712.500000,cooler,1.0,wine cooler
1,kt23,appliances,kelvinator,2158.772981,3 doors refrigerator no frost stainless steel,1.0,multi door
2,kt23,appliances,kelvinator,1818.000000,3 doors refrigerator no frost stainless steel,1.0,multi door
3,kt23,appliances,kelvinator,1818.000000,3 doors refrigerator no frost stainless steel,1.0,multi door
4,kt23,appliances,kelvinator,1544.550000,3 doors refrigerator no frost stainless steel,1.0,multi door

In [156]:
# Remove duplicates of 'Item Code' column, keeping the first occurrence
product.drop_duplicates(subset=['Item_code'], keep='first', inplace=True)
product.reset_index(drop=True, inplace=True)

In [157]:
product.head()

,Item_code,Product_class,Brand,Unit_price,Description,Tot_qty,Family
0,w045,appliances,westpoint,712.500000,cooler,1.0,wine cooler
1,kt23,appliances,kelvinator,2158.772981,3 doors refrigerator no frost stainless steel,1.0,multi door
2,pq01,appliances,panasonic,1801.800000,4 doors refrigerator 29 cuft black,1.0,multi door
3,pq04,appliances,panasonic,1635.450000,4 doors refrigerator 30 cuft black,1.0,multi door
4,pq03,appliances,panasonic,1500.000000,4 doors refrigerator 30 cuft silver,1.0,multi door

# SQL

## General Preliminary Code

In [158]:
from sqlalchemy import create_engine
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import Integer, VARCHAR
from sqlalchemy import Integer, VARCHAR, Column
from sqlalchemy.ext.declarative import declarative_base

In [159]:
# Replace 'username', 'password', 'hostname', 'database_name' with your MySQL credentials
engine = create_engine('mysql+pymysql://root:2452002Az)@localhost/MSBA305_Project8')

## Customer Table

### Initial Table

In [160]:
customers.head()

,Casa,Region,Customer_id,Phone_number,Customer_loyalty_indicator
0,mount lebanon,north metn,cust043,81618291,new
1,bekaa,baalabeck,cust024,71107991,new
2,bekaa,zahle,cust016,3488238,new
3,bekaa,zahle,cust019,80612810,new
4,mount lebanon,chouf,cust058,71200417,new

In [161]:
# Write the dataframe to the database
customers.to_sql('Customer', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\4122363529.py:2: UserWarning: The provided table name 'Customer' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  customers.to_sql('Customer', con=engine, if_exists='replace', index=False)

60

In [162]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Customer
MODIFY COLUMN Customer_id VARCHAR(20),
MODIFY COLUMN Region VARCHAR(20),
MODIFY COLUMN Casa VARCHAR(20),
MODIFY COLUMN Customer_loyalty_indicator VARCHAR(20);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [163]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Customer
ADD PRIMARY KEY (Customer_id);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [164]:
from sqlalchemy import text

# # Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Customer
ADD CONSTRAINT unique_email UNIQUE (Phone_number);
"""

# Execute the SQL statement
with engine.connect() as connection:
     connection.execute(text(sql_statement))

## Product table

In [165]:
product.head()

,Item_code,Product_class,Brand,Unit_price,Description,Tot_qty,Family
0,w045,appliances,westpoint,712.500000,cooler,1.0,wine cooler
1,kt23,appliances,kelvinator,2158.772981,3 doors refrigerator no frost stainless steel,1.0,multi door
2,pq01,appliances,panasonic,1801.800000,4 doors refrigerator 29 cuft black,1.0,multi door
3,pq04,appliances,panasonic,1635.450000,4 doors refrigerator 30 cuft black,1.0,multi door
4,pq03,appliances,panasonic,1500.000000,4 doors refrigerator 30 cuft silver,1.0,multi door

### Initial Table

In [166]:
# Write the dataframe to the database
product.to_sql('Product', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2794899514.py:2: UserWarning: The provided table name 'Product' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  product.to_sql('Product', con=engine, if_exists='replace', index=False)

289

In [167]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Product
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Product_class VARCHAR(20),
MODIFY COLUMN Brand VARCHAR(35),
MODIFY COLUMN Unit_price FLOAT,
MODIFY COLUMN Tot_qty INTEGER,
MODIFY COLUMN Family VARCHAR(30),
MODIFY COLUMN Description VARCHAR(255);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [168]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Product
ADD PRIMARY KEY (Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [169]:
from sqlalchemy import text
# Define the SQL statements
sql_statement = """
ALTER TABLE Product
ADD CONSTRAINT check_tot_qty_product CHECK (Tot_qty > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [170]:
# Define the SQL statement to modify the column datatype
sql_statement = """
ALTER TABLE Product
ADD CONSTRAINT check_positive_unit_price CHECK (Unit_price > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Order

In [171]:
orders.head()

,Order_id,Date,Discount,Customer_id,Item_code,Tot_qty,Return_rate,Total_price
0,1,2020-09-19,0.0,cust043,w045,1.0,no,712.500000
1,2,2018-07-12,0.0,cust024,kt23,1.0,no,2158.772981
2,3,2018-07-04,0.0,cust016,kt23,1.0,no,1818.000000
3,4,2019-03-23,0.0,cust019,kt23,1.0,no,1818.000000
4,5,2018-01-17,0.0,cust058,kt23,1.0,no,1544.550000

### Initial Table

In [172]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25425 entries, 0 to 31277
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_id     25425 non-null  int64
 1   Date         25425 non-null  datetime64[ns]
 2   Discount     25425 non-null  float64
 3   Customer_id  25425 non-null  object
 4   Item_code    25425 non-null  object
 5   Tot_qty      25425 non-null  float64
 6   Return_rate  25425 non-null  object
 7   Total_price  25425 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 1.7+ MB

In [173]:
from sqlalchemy import Column, Integer, VARCHAR, Float, ForeignKey

In [174]:
# Write the dataframe to the database
orders.to_sql('Order', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2979892820.py:2: UserWarning: The provided table name 'Order' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  orders.to_sql('Order', con=engine, if_exists='replace', index=False)

25425

In [175]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE `Order`
MODIFY COLUMN Order_id INTEGER,
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Customer_id VARCHAR(20),
MODIFY COLUMN Date DATE,
MODIFY COLUMN Discount FLOAT,
MODIFY COLUMN Tot_qty FLOAT,
MODIFY COLUMN Return_rate VARCHAR(10),
MODIFY COLUMN Total_price FLOAT;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [176]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE `Order`
ADD PRIMARY KEY (Order_id),
ADD FOREIGN KEY (Customer_id) REFERENCES Customer(Customer_id),
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [177]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE `Order`
ADD CONSTRAINT check_tot_qty_order CHECK (Tot_qty >= 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [178]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE `Order`
ADD CONSTRAINT check_discount_lowerBound_order CHECK (Discount >= 0),
ADD CONSTRAINT check_discount_upperBound_order CHECK (Discount <= 100);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [179]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE `order`
MODIFY COLUMN `Order_id` INT AUTO_INCREMENT;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Wine Cooler

In [180]:
wine_cooler.head()

  Item_code    Type  Capacity
0      w045  cooler        70
1      cx20  cooler        40
2      cx14  cooler        70
3      w106  cellar       106
4      w185  cooler       191

### Initial Table

In [181]:
# Write the dataframe to the database
wine_cooler.to_sql('Wine_cooler', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2637809340.py:2: UserWarning: The provided table name 'Wine_cooler' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  wine_cooler.to_sql('Wine_cooler', con=engine, if_exists='replace', index=False)

5

In [182]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Wine_cooler
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Type VARCHAR(20),
MODIFY COLUMN Capacity INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [183]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Wine_cooler
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [184]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Wine_cooler
ADD CONSTRAINT check_capacity_wine_cooler CHECK (Capacity > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [185]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Wine_cooler
DROP FOREIGN KEY wine_cooler_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## AC

In [186]:
ac.head()

  Item_code Inverter    BTU
0      p001       no   9000
1      p002       no  12000
2      p003       no  18000
3      p004       no  24000
4      p006      yes  12000

### Initial Table

In [187]:
# Write the dataframe to the database
ac.to_sql('AC', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1410805229.py:2: UserWarning: The provided table name 'AC' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  ac.to_sql('AC', con=engine, if_exists='replace', index=False)

6

In [188]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE AC
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Inverter VARCHAR(5),
MODIFY COLUMN BTU INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [189]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE AC
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [190]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE AC
ADD CONSTRAINT check_BTU_AC CHECK (BTU > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [191]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE AC
DROP FOREIGN KEY AC_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## DVD

In [192]:
dvd.head()

  Item_code HDMI
0      pa02  yes
1      pa01   no

### Initial Table

In [193]:
# Write the dataframe to the database
dvd.to_sql('DVD', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2674635303.py:2: UserWarning: The provided table name 'DVD' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dvd.to_sql('DVD', con=engine, if_exists='replace', index=False)

2

In [194]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE DVD
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN HDMI VARCHAR(5);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [195]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE DVD
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [196]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE DVD
ADD CONSTRAINT check_yes_no CHECK (HDMI IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [197]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE DVD
DROP FOREIGN KEY DVD_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Sound Bar

In [198]:
sound_bar.head()

  Item_code  Amplifier_Output
0      ps26                40
1      ps25                80
2      ps27               200

### Initial Table

In [199]:
# Write the dataframe to the database
sound_bar.to_sql('Sound_Bar', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2947266116.py:2: UserWarning: The provided table name 'Sound_Bar' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  sound_bar.to_sql('Sound_Bar', con=engine, if_exists='replace', index=False)

3

In [200]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Sound_Bar
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Amplifier_Output INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [201]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Sound_Bar
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [202]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Sound_Bar
ADD CONSTRAINT check_Amplifier_Output CHECK (Amplifier_Output >= 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [203]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Sound_Bar
DROP FOREIGN KEY Sound_Bar_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Humidor

In [204]:
humidor.head()

  Item_code  Capacity
0     ph005       250
1     ph006       400

### Initial Table

In [205]:
# Write the dataframe to the database
humidor.to_sql('Humidor', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1786377957.py:2: UserWarning: The provided table name 'Humidor' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  humidor.to_sql('Humidor', con=engine, if_exists='replace', index=False)

2

In [206]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Humidor
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Capacity INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [207]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Humidor
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [208]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Humidor
ADD CONSTRAINT check_capacity CHECK (Capacity >= 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [209]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Humidor
DROP FOREIGN KEY Humidor_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Freezer

In [210]:
freezer.head()

  Item_code  Number_of_Drawers   Color No_Frost Freezer_Type
0      pf11                6.0   White       No      Regular
1      cf21                6.0  Silver      Yes      Regular
2      pf12                7.0   White      Yes      Regular
3      cf20                6.0   White      Yes      Regular
4      pf10                3.0    None       No      Regular

In [211]:
# Write the dataframe to the database
freezer.to_sql('Freezer', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\126536490.py:2: UserWarning: The provided table name 'Freezer' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  freezer.to_sql('Freezer', con=engine, if_exists='replace', index=False)

6

In [212]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Freezer
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Number_of_Drawers INTEGER,
MODIFY COLUMN Color VARCHAR(20),
MODIFY COLUMN No_Frost VARCHAR(5);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [213]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Freezer
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [214]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Freezer
ADD CONSTRAINT check_number_of_drawers CHECK (Number_of_Drawers >= 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [215]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Freezer
ADD CONSTRAINT check_yes_no_freezer CHECK (No_Frost IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [216]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Freezer
DROP FOREIGN KEY Freezer_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## LED

In [217]:
led.head()

  Item_code  Size Smart Resolution
0   pled32s    32   Yes         HD
1    pled50    50    No         HD
2    pled41    41    No        FHD
3    led65u    65   Yes        UHD
4   pled43s    43   Yes        FHD

### Initial Table

In [218]:
# Write the dataframe to the database
led.to_sql('LED', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1221620481.py:2: UserWarning: The provided table name 'LED' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  led.to_sql('LED', con=engine, if_exists='replace', index=False)

29

In [219]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE LED
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Smart VARCHAR(5),
MODIFY COLUMN Resolution VARCHAR(10);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [220]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE LED
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [221]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE LED
ADD CONSTRAINT check_yes_no_LED CHECK (Smart IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [222]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE LED
ADD CONSTRAINT check_size_LED CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [223]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE LED
DROP FOREIGN KEY LED_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Cooker

In [224]:
cooker.head()

  Item_code Dimension            Color Bottle_Compartment Full_Safety
0      kc40     90x60  stainless steel                 No          No
1     hcl31     90x60            white                Yes          No
2     hcl30     90x60            black                Yes          No
3     hcl32     90x60  stainless steel                Yes          No
4     hcl40     90x60            white                 No          No

### Initial Table

In [225]:
# Write the dataframe to the database
cooker.to_sql('Cooker', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\976485433.py:2: UserWarning: The provided table name 'Cooker' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  cooker.to_sql('Cooker', con=engine, if_exists='replace', index=False)

39

In [226]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Cooker
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Dimension VARCHAR(10),
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Bottle_Compartment VARCHAR(5),
MODIFY COLUMN Full_Safety VARCHAR(5);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [227]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Cooker
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [228]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Cooker
ADD CONSTRAINT bottle_compartment_Cooker CHECK (Bottle_Compartment IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [229]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Cooker
ADD CONSTRAINT full_safety_Cooker CHECK (Full_Safety IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [230]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Cooker
DROP FOREIGN KEY Cooker_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Dishwasher

In [231]:
dishwasher.head()

  Item_code  Settings   Color         Controls
0      cd02        13   white  semi integrated
1      cd03        13    inox  semi integrated
2     pd001         5   white  semi integrated
3     pd002         5  silver  semi integrated
4      cd05        16    inox  semi integrated

### Initial Table

In [232]:
# Write the dataframe to the database
dishwasher.to_sql('Dishwasher', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\368535410.py:2: UserWarning: The provided table name 'Dishwasher' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dishwasher.to_sql('Dishwasher', con=engine, if_exists='replace', index=False)

8

In [233]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Dishwasher
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Settings INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Controls VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [234]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Dishwasher
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [235]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dishwasher
ADD CONSTRAINT settings_Dishwasher CHECK (Settings >= 1);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [236]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dishwasher
DROP FOREIGN KEY Dishwasher_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Dispenser

In [237]:
dispenser.head()

  Item_code   Color  Number_of_Faucets    Load_Type
0     pw004  silver                  2   Upper Load
1     pw011   white                  2  Bottom Load
2     pw012  silver                  2   Upper Load
3     pw002  silver                  2  Bottom Load
4     pw003  silver                  2   Upper Load

### Initial Table

In [238]:
# Write the dataframe to the database
dispenser.to_sql('Dispenser', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2339733597.py:2: UserWarning: The provided table name 'Dispenser' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dispenser.to_sql('Dispenser', con=engine, if_exists='replace', index=False)

11

In [239]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Dispenser
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Number_of_Faucets INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Load_Type VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [240]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Dispenser
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [241]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dispenser
ADD CONSTRAINT number_of_faucets_Dispenser CHECK (Number_of_Faucets >= 1);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [242]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dispenser
DROP FOREIGN KEY Dispenser_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Dryer

In [243]:
dryer.head()

  Item_code  Color Functionality  Size
0     kd100  white        vented    10
1      sw72  black        vented     8
2      cv02  white     condenser     8
3      pv20  white        vented     8
4      cv05  white     condenser    10

### Initial Table

In [244]:
# Write the dataframe to the database
dryer.to_sql('Dryer', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2175713505.py:2: UserWarning: The provided table name 'Dryer' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dryer.to_sql('Dryer', con=engine, if_exists='replace', index=False)

15

In [245]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Dryer
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Functionality VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [246]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Dryer
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [247]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dryer
ADD CONSTRAINT size_Dryer CHECK (size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [248]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dryer
DROP FOREIGN KEY Dryer_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Electric Oven

In [249]:
electric_oven.head()

  Item_code  Color  Size
0      pe01  white    48
1      pe02  black    65
2      pe03  white    65

### Initial Table

In [250]:
# Write the dataframe to the database
electric_oven.to_sql('Electric_Oven', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1617305263.py:2: UserWarning: The provided table name 'Electric_Oven' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  electric_oven.to_sql('Electric_Oven', con=engine, if_exists='replace', index=False)

3

In [251]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Electric_Oven
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [252]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Electric_Oven
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [253]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Electric_Oven
ADD CONSTRAINT size_Electric_Oven CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [254]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Electric_Oven
DROP FOREIGN KEY Electric_Oven_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Hood

In [255]:
hood.head()

  Item_code  Size            Color        Type
0      s295    90  stainless steel         pop
1      s299    90  stainless steel  glass back
2      hk60    60            black     t shape
3      hk90    90            black     t shape
4      s264    60  stainless steel         pop

### Initial Table

In [256]:
# Write the dataframe to the database
hood.to_sql('Hood', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1352006750.py:2: UserWarning: The provided table name 'Hood' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  hood.to_sql('Hood', con=engine, if_exists='replace', index=False)

7

In [257]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Hood
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Type VARCHAR(20);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [258]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Hood
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [259]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Hood
ADD CONSTRAINT size_Hood CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [260]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Hood
DROP FOREIGN KEY Hood_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Laundry

In [261]:
laundry.head()

  Item_code  Size  Speed  Color Inverter        Type
0     pg110     7   1000  white       no     regular
1     kw100    10   1000  white       no     regular
2     pg122     8   1200  white       no     regular
3      sw86     8   1000  black       no  front load
4     kw105    15   1000  white       no     regular

### Initial Table

In [262]:
# Write the dataframe to the database
laundry.to_sql('Laundry', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1095269728.py:2: UserWarning: The provided table name 'Laundry' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  laundry.to_sql('Laundry', con=engine, if_exists='replace', index=False)

31

In [263]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Laundry
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Speed INTEGER,
MODIFY COLUMN Inverter VARCHAR(20),
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Type VARCHAR(20);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [264]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Laundry
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [265]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Laundry
ADD CONSTRAINT speed_Laundry CHECK (Speed > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [266]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Laundry
ADD CONSTRAINT size_Laundry CHECK (Speed > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [267]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Laundry
ADD CONSTRAINT check_yes_no_Laundry CHECK (Inverter IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [268]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Laundry
DROP FOREIGN KEY Laundry_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Microwave

In [269]:
microwave.head()

  Item_code  Size            Color Built_in With_Grill With_Oven Control_Type
0      pm03    22            white       no         no        no      digital
1      pm05    30           silver       no        yes        no      digital
2      pm04    22            white       no         no        no   mechanical
3      pm06    30            white       no        yes        no      digital
4      pm02    30  stainless steel      yes         no       yes      digital

### Initial Table

In [270]:
# Write the dataframe to the database
microwave.to_sql('Microwave', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\176325755.py:2: UserWarning: The provided table name 'Microwave' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  microwave.to_sql('Microwave', con=engine, if_exists='replace', index=False)

8

In [271]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Microwave
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Built_in VARCHAR(5),
MODIFY COLUMN With_Grill VARCHAR(5),
MODIFY COLUMN With_Oven VARCHAR(5),
MODIFY COLUMN Control_Type VARCHAR(20);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [272]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Microwave
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [273]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Microwave
ADD CONSTRAINT check_yes_no_Microwave CHECK (Built_in IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [274]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Microwave
ADD CONSTRAINT check_yes_no_Microwave_Grill CHECK (With_Grill IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [275]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Microwave
ADD CONSTRAINT check_yes_no_Microwave_Oven CHECK (With_Oven IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [276]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Microwave
ADD CONSTRAINT size_Microwave CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 5

In [277]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Microwave
DROP FOREIGN KEY Microwave_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Oven

In [278]:
oven.head()

  Item_code  Size            Color Built_in With_Grill Functionality
0      sw06    60  stainless steel       no         no      Full Gas
1      ho91    60            black       no         no      Full Gas
2      sw19    90  stainless steel       no         no      Full Gas
3      ho90    60  stainless steel       no         no      Full Gas
4      ho62    60            black      yes        yes      Full Gas

### Initial Table

In [279]:
# Write the dataframe to the database
oven.to_sql('Oven', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\667240496.py:2: UserWarning: The provided table name 'Oven' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  oven.to_sql('Oven', con=engine, if_exists='replace', index=False)

16

In [280]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Oven
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Built_in VARCHAR(5),
MODIFY COLUMN With_Grill VARCHAR(5),
MODIFY COLUMN Functionality VARCHAR(20);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [281]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Oven
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [282]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Oven
ADD CONSTRAINT check_yes_no_Oven_Grill CHECK (With_Grill IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [283]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Oven
ADD CONSTRAINT check_yes_no_Oven_Built_in CHECK (Built_in IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [284]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Oven
ADD CONSTRAINT size_Oven CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [285]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Oven
DROP FOREIGN KEY Oven_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Top load

In [286]:
top_load.head()

  Item_code  Size
0     pt160    16
1     pt100    10
2     pt130    13

### Initial Table

In [287]:
# Write the dataframe to the database
top_load.to_sql('Top_Load', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1750386828.py:2: UserWarning: The provided table name 'Top_Load' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  top_load.to_sql('Top_Load', con=engine, if_exists='replace', index=False)

3

In [288]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Top_Load
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [289]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Top_Load
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [290]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Top_Load
ADD CONSTRAINT size_Top_Load CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [291]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Top_Load
DROP FOREIGN KEY Top_Load_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Table Top

In [292]:
table_top.head()

  Item_code  Size  Color          Type
0     fr122     7  white  Refrigerator
1     fr120     5  white  Refrigerator
2     fr121     5   inox  Refrigerator
3     fr123     7   inox  Refrigerator
4      pf10     3  white       Freezer

### Initial Table

In [293]:
#Write the dataframe to the database
table_top.to_sql('Table_Top', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1547782857.py:2: UserWarning: The provided table name 'Table_Top' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  table_top.to_sql('Table_Top', con=engine, if_exists='replace', index=False)

5

In [294]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Table_Top
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Type VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [295]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Table_Top
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [296]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Table_Top
ADD CONSTRAINT size_Table_Top CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [297]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Table_Top
DROP FOREIGN KEY Table_Top_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Twin Tub

In [298]:
twin_tub.head()

  Item_code  Size
0     pt060    16
1     pt080     8
2     pt030    10
3     pt050    12

### Initial Table

In [299]:
 #Write the dataframe to the database
twin_tub.to_sql('Twin_Tub', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1060553286.py:2: UserWarning: The provided table name 'Twin_Tub' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  twin_tub.to_sql('Twin_Tub', con=engine, if_exists='replace', index=False)

4

In [300]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Twin_Tub
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [301]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Twin_Tub
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [302]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Twin_Tub
ADD CONSTRAINT size_Twin_Tub CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [303]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Twin_Tub
DROP FOREIGN KEY TWin_Tub_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Vacuum

In [304]:
vacuum.head()

  Item_code  Power     Type  Color Bagless
0      pv23    500  Regular  White     Yes
1      pv20    500  Regular  White      No
2      pv22    500  Regular  White      No
3      pv66    500    Handy  White      No
4      pv25    500  Regular  White      No

### Initial Table

In [305]:
#  Write the dataframe to the database
vacuum.to_sql('Vacuum', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\2818073054.py:2: UserWarning: The provided table name 'Vacuum' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  vacuum.to_sql('Vacuum', con=engine, if_exists='replace', index=False)

7

In [306]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Vacuum
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Power INTEGER,
MODIFY COLUMN Type VARCHAR(30),
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Bagless VARCHAR(5);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [307]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Vacuum
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [308]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Vacuum
ADD CONSTRAINT Power_Vacuum CHECK (Power > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [309]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Vacuum
ADD CONSTRAINT check_yes_no_Vacuum CHECK (Bagless IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [310]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Vacuum
DROP FOREIGN KEY Vacuum_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Multi Door

In [311]:
multi_door.head()

  Item_code  Number_of_Doors  Size            Color No_Frost     Type
0      kt23                3    30  Stainless Steel      Yes  Regular
1      pq01                4    29            Black       No  Regular
2      pq04                4    30            Black       No  Regular
3      pq03                4    30           Silver       No  Regular
4      pq02                4    29           Silver       No  Regular

### Initial Table

In [312]:
#  Write the dataframe to the database
multi_door.to_sql('Multi_Door', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3004599910.py:2: UserWarning: The provided table name 'Multi_Door' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  multi_door.to_sql('Multi_Door', con=engine, if_exists='replace', index=False)

6

In [313]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Multi_Door
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Number_of_Doors INTEGER,
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN No_Frost VARCHAR(5),
MODIFY COLUMN Type VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [314]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Multi_Door
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [315]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Multi_Door
ADD CONSTRAINT number_of_doors_multi_door CHECK (Number_of_Doors > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [316]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Multi_Door
ADD CONSTRAINT size_multi_door CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [317]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Multi_door
ADD CONSTRAINT check_yes_no_Multi_door_No_Frost CHECK (No_Frost IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [318]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Multi_Door
DROP FOREIGN KEY Multi_Door_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Refrigerator

In [319]:
refrigerator.head()

  Item_code  Size            Color No_Frost  Number_of_Doors
0      cf03    20  Stainless Steel       No                1
1      kp10    21            White      Yes                1
2      kp11    21            White      Yes                1
3     pr500    20            White      Yes                2
4     pr600    20            White      Yes                2

### Initial Table

In [320]:
# Write the dataframe to the database
refrigerator.to_sql('Refrigerator', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1160264721.py:2: UserWarning: The provided table name 'Refrigerator' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  refrigerator.to_sql('Refrigerator', con=engine, if_exists='replace', index=False)

26

In [321]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Refrigerator
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN No_Frost VARCHAR(5),
MODIFY COLUMN Number_of_Doors INTEGER;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [322]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Refrigerator
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [323]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Refrigerator
ADD CONSTRAINT check_yes_no_Refrigerator_No_Frost CHECK (No_Frost IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [324]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Refrigerator
ADD CONSTRAINT number_of_doors_Refrigerator CHECK (Number_of_Doors > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [325]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Refrigerator
ADD CONSTRAINT size_Refrigerator CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [326]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Refrigerator
DROP FOREIGN KEY Refrigerator_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Hob

In [327]:
hob.head()

  Item_code  Size            Color  Number_of_Burners         Safety Built_In
0      sh07    60  Stainless Steel                  4  Burner Safety       No
1      hp92    90  Stainless Steel                 41  Burner Safety      Yes
2      sh11    90  Stainless Steel                  5  Burner Safety       No
3      sh17    70  Stainless Steel                  5    Full Safety       No
4      sh18    90  Stainless Steel                  5    Full Safety       No

### Initial Table

In [328]:
#  Write the dataframe to the database
hob.to_sql('Hob', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\3264625647.py:2: UserWarning: The provided table name 'Hob' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  hob.to_sql('Hob', con=engine, if_exists='replace', index=False)

29

In [329]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Hob
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Size INTEGER,
MODIFY COLUMN Color VARCHAR(30),
MODIFY COLUMN Number_of_Burners INTEGER,
MODIFY COLUMN Safety VARCHAR(30),
MODIFY COLUMN Built_in VARCHAR(5);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [330]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Hob
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [331]:
from sqlalchemy import text

# Define the SQL statement
sql_statement = """
ALTER TABLE Hob
ADD CONSTRAINT check_yes_no_Hob_Built_in CHECK (Built_in IN ('yes', 'no'));
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 2

In [332]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Hob
ADD CONSTRAINT size_Hob CHECK (Size > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 3

In [333]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Hob
ADD CONSTRAINT Number_of_Burners_Hob CHECK (Number_of_Burners > 0);
"""

# # Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 4

In [334]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Hob
DROP FOREIGN KEY Hob_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

## Dap

In [335]:
dap.head()

  Item_code         Category
0      p130   food processor
1      p160       hand mixer
2      p170    citrus juicer
3      p171  juice extractor
4      p220    table blender

### Initial Table

In [336]:
# # #  Write the dataframe to the database
dap.to_sql('Dap', con=engine, if_exists='replace', index=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24108\1851749356.py:2: UserWarning: The provided table name 'Dap' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  dap.to_sql('Dap', con=engine, if_exists='replace', index=False)

20

In [337]:
from sqlalchemy import text

# Define the SQL statement to change the data type
sql_statement = """
ALTER TABLE Dap
MODIFY COLUMN Item_code VARCHAR(20),
MODIFY COLUMN Category VARCHAR(30);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

In [338]:
# Define the SQL statement to add the primary key with a key length
sql_statement = """
ALTER TABLE Dap
ADD FOREIGN KEY (Item_code) REFERENCES Product(Item_code);
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))

### Constraint 1

In [339]:
from sqlalchemy import text

# Define the SQL statements
sql_statement = """
ALTER TABLE Dap
DROP FOREIGN KEY Dap_ibfk_1,
ADD FOREIGN KEY (Item_code)
REFERENCES Product(Item_code)
ON DELETE CASCADE;
"""

# Execute the SQL statement
with engine.connect() as connection:
    connection.execute(text(sql_statement))